.welcome-page{
  &__container{
    font-size: $copy-font-size;
    margin: 0 auto;
    max-width: 900px;
  }
  &__heading{
    color: $color-main;
    font-size: $heading-font-size;
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 0.4em;
    @include breakpoint(tiny){
      padding-left: $mobile-padding;
      padding-right: $mobile-padding;
      font-size: $menu-font-size;
    }
  }
  &__segment{
    border-radius: $brad;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
    background:#fff;
    @include breakpoint(tiny){
      border-radius: 0;
      box-shadow: none;
    }
    padding: ($default-padding / 3);
    &__heading{
      font-size: $menu-font-size;
      color: $color-main;
      padding-bottom: 0.2em;
    }
    &--intro{
      p:not(:last-child){
        margin-bottom: 0.4em;
        padding-bottom: 0.4em;
        border-bottom: 1px solid rgba($text-color,0.1);
      }      
    }
    &--specs{
      &__heading{
        font-weight: 700;
      }
      .sub-segment{
        margin-bottom: 0.4em;
        padding-bottom: 0.4em;
        border-bottom: 1px solid rgba($text-color,0.1);        
      }
    }
    &--faq{
      &__heading{
        font-weight: 700;
      }
      &__question{
        font-weight: 700;
      }
      &__answer{
        &:not(:last-child){
          margin-bottom: 0.4em;
          padding-bottom: 0.4em;
          border-bottom: 1px solid rgba($text-color,0.1);
        }
        ol{
          list-style:decimal;
          padding-left:1em; 
          margin-left: ($default-padding / 3);
        }
        ul{
          list-style-type: disc;
          padding-left:1em; 
          margin-left: ($default-padding / 3);
        }
        li:not(:last-child){
          margin-bottom: 0.4em;
        }
        p:not(:last-child){
          margin-bottom: 0.4em;
        }
      }
    }
  }
  .small-text{
    font-size: 0.85em;
  }
  .external-link{
    color: $color-external-link;
    &:hover{
      border-bottom: 1px solid $color-external-link;
    }
  }

}