<div 
class="faq-page"
ng-if="language.language == 'english'"
>

  <h1 class="faq-page__heading">Frequently Asked Questions</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">How can I change my personal information? (i.e., name, password, email address)</h3>
      <div class="faq-page__segment__answer">
        <p>Click on “Edit Profile” at the top of the screen to open the “Edit Profile” screen. On the Edit Profile screen you can change your name, password, and email address.</p>
      </div>


      <h3 class="faq-page__segment__question">How do I listen to the audio for my book?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, select your level. On the Home screen, click the Audio icon. Select the audio file you want to play.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I watch the videos for my book?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, select your level. On the Home screen, click the Video icon. Select the video you want to play. The video will begin streaming in a new tab.</p>
      </div>

      <h3 class="faq-page__segment__question">Why can’t I hear my audio?</h3>
      <div class="faq-page__segment__answer">
        <p>There are a few reasons why you may not be able to hear your audio.</p>
        <ol>
          <li>Check that your speakers are turned on and plugged in.</li>
          <li>In the volume settings on your computer or device, check that your volume is up and not muted.</li>
          <li>Did you unplug your headphones? Unplugging your headphones after loading the website or while playing an audio track may cause the audio player to stop working. To solve the problem, close your browser completely and then restart the program.</li>
        </ol>
      </div>


      <h3 class="faq-page__segment__question">Where can I go if I need more help?</h3>
      <div class="faq-page__segment__answer">
        <p>For additional support, email <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. Please include the following information in your email:</p>
        <ul>
          <li>The name of the course you are using</li>
          <li>Your type of computer (for example, PC or Mac)</li>
          <li>Your operating system (for example, Windows 8)</li>
          <li>Your browser (for example, Firefox 17.0.5)</li>
          <li>A description of the problem, including any specific actions that were taken before the problem occurred</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page ENGLISH-->