<div 
class="faq-page"
ng-if="language.language == 'english'"
>

  <h1 class="faq-page__heading">Frequently Asked Questions</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">How can I change my personal information? (i.e., name, password, email address)</h3>
      <div class="faq-page__segment__answer">
        <p>Click on “Edit Profile” at the top of the screen to open the “Edit Profile” screen. On the Edit Profile screen you can change your name, password, and email address.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I add a new level?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, click on “Add a Level.” Follow the steps to add a new level. You will need an access code for each new level you want to add.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I listen to the audio for my book?</h3>
      <div class="faq-page__segment__answer">
        <p>Students: From your Home screen, select your level. Click the “Media Center” icon. Select the audio file you want to play.</p>
        <p>Teachers: From your Home screen, click on “Activities and Resources.” Select a level. Click the “Media Center” icon. Select the audio file you want to play.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I join a class?</h3>
      <div class="faq-page__segment__answer">
        <p>If you did not enter a class ID code during registration, there will be a “Join a Class” icon on your Home screen. Click the “Join a Class” icon, enter your class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I change class?</h3>
      <div class="faq-page__segment__answer">
        <p>On your Home screen, select a level. Then click the “Change Class” icon. Enter your new class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="faq-page__segment__question">Do I have to join a class?</h3>
      <div class="faq-page__segment__answer">
        <p>No. You can use Online Practice without joining a class.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I view my progress report?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, select a level. Then click the “Scores” icon to open the Achievements and Reports area. Choose the “My Grades” tab at the top.</p>
      </div>
 
      <h3 class="faq-page__segment__question">Why can’t I hear my audio?</h3>
      <div class="faq-page__segment__answer">
        <p>There are a few reasons why you may not be able to hear your audio.</p>
        <ol>
          <li>Check that your speakers are turned on and plugged in.</li>
          <li>In the volume settings on your computer or device, check that your volume is up and not muted.</li>
          <li>Did you unplug your headphones? Unplugging your headphones after loading the website or while playing an audio track may cause the audio player to stop working. To solve the problem, close your browser completely and then restart the program.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">How do I go to a different unit?</h3>
      <div class="faq-page__segment__answer">
        <p>Within an activity, click on the top-left menu to choose a unit. Click on the next menu to choose an activity within a unit. You can also move through the activities using the “Previous” and “Next” buttons.</p>
      </div>

      <h3 class="faq-page__segment__question">Where can I go if I need more help?</h3>
      <div class="faq-page__segment__answer">
        <p>For additional support, email <a class="external-link" href="mailto:{{supportAddressURL}}?subject= {{courseName}} query">{{supportAddressURL}}</a>. Please include the following information in your email:</p>
        <ul>
          <li>Your type of computer (for example, PC or Mac)</li>
          <li>Your operating system (for example, Windows 8)</li>
          <li>Your browser (for example, Firefox 17.0.5)</li>
          <li>A description of the problem, including any specific actions that were taken before the problem occurred</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page ENGLISH-->

<div 
class="faq-page"
ng-if="language.language == 'turkish'"
>

  <h1 class="faq-page__heading">Sıkça Sorulan Sorular</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">Kişisel bilgilerimi (ad, parola, e-posta adresi vb.) nasıl değiştirebilirim?</h3>
      <div class="faq-page__segment__answer">
        <p>“Edit Profile” ekranını açmak için ekranın en üstünde yer alan “Edit Profile” seçeneğine tıklayın. Profili Düzenle ekranında adınızı, parolanızı ve e-posta adresinizi değiştirebilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Yeni bir seviye nasıl eklerim?</h3>
      <div class="faq-page__segment__answer">
        <p>Anasayfa ekranınızdan, “Add a Level” üzerine tıklayın. Yeni bir seviye ekle adımlarını takip edin. Eklemek istediğiniz her yeni seviye için bir erişim koduna ihtiyacınız olacak.</p>
      </div>

      <h3 class="faq-page__segment__question">Kitabımdan nasıl ses dinlerim?</h3>
      <div class="faq-page__segment__answer">
        <p>Öğrenciler: Ana Sayfa ekranınızdan kendi seviyenizi seçin. Ana Sayfa ekranında Medya Merkezi sembolünü tıklayın. Dinlemek istediğiniz ses dosyasını seçin.</p>
        <p>Öğretmenler: Medya Merkezinize, Ana Sayfanızdaki Aktivite bağlantısından erişebilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Derse nasıl katılırım?</h3>
      <div class="faq-page__segment__answer">
        <p>Kayıt sırasında bir sınıf ID kodu girmediyseniz, Anasayfa ekranında bir “Join a Class” simgesi olacaktır. “Join a Class” simgesine tıklayın, ID kodunuzu girin ve Anasayfa ekranınıza geri dönmek için “Save” düğmesine tıklayın. ID kodunuzu öğretmeninizden alabilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Nasıl ders değiştiririm?</h3>
      <div class="faq-page__segment__answer">
        <p>Ana Sayfa ekranınızda, “Change Class” simgesini tıklayın. Yeni sınıf ID kodunuzu girip, Ana Sayfa ekranına dönmek için “Save” düğmesini tıklayın. Sınıf ID kodunuzu öğretmeninizden alabilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Bir derse katılmak zorunda mıyım?</h3>
      <div class="faq-page__segment__answer">
        <p>Hayır. Bir derse katılmadan Çevrim İçi Uygulamayı kullanabilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">İlerleme raporumu nasıl görüntülerim?</h3>
      <div class="faq-page__segment__answer">
        <p>Ana Sayfa ekranınızdan, “Scores” simgesini tıklayıp Başarılar ve Raporlar alanını açın. Üstte yer alan Raporlar sekmesini seçin.</p>
      </div>
 
      <h3 class="faq-page__segment__question">Sesimi neden duyamıyorum?</h3>
      <div class="faq-page__segment__answer">
        <p>Sesinizi duyamamanızın birkaç nedeni olabilir.</p>
        <ol>
          <li>Hoparlörünüzün açık ve fişe takılı olduğunu kontrol edin.</li>
          <li>Bilgisayarınız ya da cihazınızın ses seviyesi ayarlarından, ses seviyenizin açık olduğunu kontrol edin.</li>
          <li>Kulaklıklarınızı mı çıkardınız? İnternet sitesini yükledikten sonra ya da bir ses parçası oynatırken kulaklıklarınızı çıkardıysanız, ses oynatıcı çalışmayı durdurabilir. Sorunu çözmek için, tarayıcınızı tamamıyla kapatın ve programı yeniden başlatın.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">Farklı bir üniteye nasıl giderim?</h3>
      <div class="faq-page__segment__answer">
        <p>Bir aktivite içinde bir ünite ve ders seçmek için sol üst kısımdaki menüye tıklayın. Bir ders içinde bir aktivite seçmek için bir sonraki menüye tıklayın. Ayrıca, “Previous” ve “Next” düğmelerini kullanarak aktiviteler arasında gezinebilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Daha fazla yardım için nereye başvurabilirim?</h3>
      <div class="faq-page__segment__answer">
        <p>Ek destek için, <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a> adresine e-posta gönderin. E-postanıza lütfen aşağıdaki bilgileri ekleyin:</p>
        <ul>
          <li>Bilgisayar türünüz (PC ya da Mac vb.)</li>
          <li>İşletim sisteminiz (Windows 8 vb.)</li>
          <li>Tarayıcınız (Firefox 17.0.5 vb.)</li>
          <li>Sorun meydana gelmeden önce yapılan spesifik eylem de dahil, sorunun tanımı.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page TURKISH-->

<div 
class="faq-page rtl"
ng-if="language.language == 'arabic'"
>

  <h1 class="faq-page__heading">الأسئلة الشائعة</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">كيف يمكنني تغيير معلوماتي الشخصية؟ (أعني الاسم، كلمة المرور، عنوان البريد الإلكتروني)</h3>
      <div class="faq-page__segment__answer">
        <p>انقر على“Edit Profile” ("تحرير الملف الشخصي") في أعلى الشاشة لفتح شاشة "تحريرالملف الشخصي". في شاشة تحرير الملف الشخصي يمكنك تغيير اسمك وكلمة المرور وعنوان البريد الإلكتروني.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أضيف مستوى جديدًا؟</h3>
      <div class="faq-page__segment__answer">
        <p>من شاشتك الرئيسية، انقر على"أضف مستوى". اتبع الخطوات لإضافة مستوى جديد. سوف تحتاج إلى رمز دخول لكل مستوى جديد ترغب في إضافته.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أستمع إلى الصوت الخاص بكتابي؟</h3>
      <div class="faq-page__segment__answer">
        <p>الطلاب : من على شاشة صفحتك الرئيسية، حدد المستوى الذي انت فيه. انقر على ايقونة مركز وسائل الإعلام الموجود على شاشة الصفحة الرئيسية. حدد ملف الصوت الذي تريد ان تشغله.</p>
        <p>المدرسون: أدخل على مركز وسائل الإعلام من رابط الانشطة الموجود على صفحتك الرئيسية.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أنضم لفصل؟</h3>
      <div class="faq-page__segment__answer">
        <p>إذا لم تدخل رمز مُعرِّف الفصل أثناء التسجيل، سوف تكون هناك أيقونة “Join a Class” ("الانضمام لفصل") على شاشتك الرئيسية. انقر أيقونة "الانضمام لفصل" وأدخل رمز مُعرِّف الفصل الخاص بك وانقر على زِر“Save” ("حفظ") للعودة إلى شاشتك الرئيسية. يمكنك الحصول على رمز مُعرِّف الفصل الخاص بك من معلمك.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أغير الفصل؟</h3>
      <div class="faq-page__segment__answer">
        <p>أنقر على ايقونة " تغيير الفصل الدراسي" الموجودة على شاشة صفحتك الرئيسية. ادخل رمز معرّف الفصل الجديد العائد لك ثم أنقر على زر "الحفظ" كي ترجع الى شاشة صفحتك الرئيسية. يمكنك أن تحصل على رمز معرّف الفصل العائد لك من مدرسك.</p>
      </div>

      <h3 class="faq-page__segment__question">هل يجب عليَّ أن أنضم لفصل؟</h3>
      <div class="faq-page__segment__answer">
        <p>لا. يمكنك استخدام الممارسة عبر شبكة الإنترنت دون الانضمام لفصل.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أعرض تقرير التقدم الخاص بي؟</h3>
      <div class="faq-page__segment__answer">
        <p>من على شاشة صفحتك الرئيسية، أنقر على ايقونة "الدرجات" كي تفتح لك مجال  المنجزات والتقارير. إختار علامة تبويب التقارير في أعلى الشاشة.</p>
      </div>
 
      <h3 class="faq-page__segment__question">لماذا لا يمكنني أن أسمع صوتي؟</h3>
      <div class="faq-page__segment__answer">
        <p>توجد هناك أسباب قليلة وراء عدم استطاعتك سماع صوتك.</p>
        <ol>
          <li>تحقق من أن السماعات الخاصة بك في وضع التشغيل وموصلة بقابس.</li>
          <li>في إعدادات الصوت على الحاسب أو الجهاز الخاص بك، تحقق من أن مستوى الصوت لديك عالٍ وليست في وضع صامت.</li>
          <li>هل قمت بنزع قابس سماعات الرأس؟ إن نزع قابس سماعات الرأس الخاصة بك بعد تحميل موقع الويب أو أثناء تشغيل مسار صوتي قد يسبب في توقف مشغل الصوت عن العمل. لحل المشكلة؛ أغلق المتصفح الخاص بك بشكل كامل وأعد تشغيل البرامج.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">كيف أنتقل إلى وحدة مختلفة؟</h3>
      <div class="faq-page__segment__answer">
        <p>ضمن فعالية ما، أنقر على قائمة في الجهة اليسرى العليا كي تختار الدرس والوحدة. أنقر على القائمة التالية كي تختار نشاط ضمن الدرس. يمكنك أيضا التحرك خلال الأنشطة مستعملاً  أزرار“Previous”  "السابق" و “Next” "اللاحق".</p>
      </div>

      <h3 class="faq-page__segment__question">أين يمكنني أن أذهب إذا احتجت مزيدًا من المساعدة؟</h3>
      <div class="faq-page__segment__answer">
        <p>للحصول على مزيد من الدعم، أرسل رسالة بريد إلكتروني إلى <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. يُرجَى إدراج المعلومات التالية في رسالة البريد الإلكتروني الخاصة بك:</p>
        <ul>
          <li>نوع الحاسب الخاص بك (حاسب شخصي أو ماك، على سبيل المثال)</li>
          <li>نظام التشغيل الخاص بك (على سبيل المثال:8Windows)</li>
          <li>المتصفح الخاص بك ( 17.0.5Firefox، على سبيل المثال)</li>
          <li>وصف المشكلة، والذي يشمل أي إجراءات معينة تم اتخاذها قبل وقوع المشكلة.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page ARABIC-->

<div 
class="faq-page"
ng-if="language.language == 'spanish'"
>

  <h1 class="faq-page__heading">Preguntas Frecuentes</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">¿Cómo puedo cambiar mi información personal? (Es decir, nombre, contraseña, dirección de correo electrónico)</h3>
      <div class="faq-page__segment__answer">
        <p>Haga clic en "Edit Profile" en la parte superior de la pantalla para abrir la pantalla de "Edit Profile". Puede cambiar su nombre, contraseña y dirección de correo electrónico en la pantalla de "Edit Profile".</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo añadir un nivel nuevo?</h3>
      <div class="faq-page__segment__answer">
        <p>Desde su pantalla de Inicio, haga clic en "Add a Level". Siga los pasos para añadir un nivel nuevo. Necesitará un código de acceso para cada nuevo nivel que desee añadir.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo escuchar el audio de mi libro?</h3>
      <div class="faq-page__segment__answer">
        <p>Estudiantes: Desde la pantalla de inicio, seleccionar su nivel. En la pantalla de inicio, hacer clic en el icono Centro de Medios. Seleccionar el archivo de audio que se desea reproducir.</p>
        <p>Profesores: Obtener acceso al Centro de medios desde el enlace de Actividades en la página de inicio.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo me inscribo a una clase?</h3>
      <div class="faq-page__segment__answer">
        <p>Si no ha introducido un código de ID de clase durante el registro, encontrará un icono de "Join a Class" en su pantalla de Inicio. Haga clic en el icono de "Join a Class", ingrese su código de ID de clase y haga clic en el botón "Save" para volver a la pantalla de Inicio. Puede obtener su código de ID de clase a través de su profesor.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo cambiar de clase?</h3>
      <div class="faq-page__segment__answer">
        <p>En la pantalla de inicio, haga clic en el icono de “Change Class”. Ingrese su nuevo código de ID de clase y haga clic en el botón “Save” para regresar a la pantalla de inicio. Su profesor puede brindarle su código de identificación de clase.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Debo inscribirme a clases?</h3>
      <div class="faq-page__segment__answer">
        <p>No. Puede utilizar la Práctica Online sin inscribirse a una clase.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo ver mi informe de progreso?</h3>
      <div class="faq-page__segment__answer">
        <p>Desde su pantalla de inicio, haga clic en el icono “Scores” para abrir el área de Logros e Informes. Seleccione la pestaña Informes situada en la parte superior.</p>
      </div>
 
      <h3 class="faq-page__segment__question">¿Por qué no puedo escuchar mi audio?</h3>
      <div class="faq-page__segment__answer">
        <p>Existen algunas razones por las que posiblemente no pueda escuchar el audio.</p>
        <ol>
          <li>Compruebe que los altavoces estén encendidos y conectados.</li>
          <li>Compruebe el nivel de volumen en su ordenador o dispositivo y que éste no esté silenciado.</li>
          <li>¿Es posible que haya desconectado los auriculares? Desconectar los auriculares después de cargar el sitio web o durante la reproducción de una pista de audio podría hacer que el reproductor de audio deje de funcionar. Para resolver el problema, cierre el navegador por completo y reinicie el programa.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo accedo a una unidad diferente?</h3>
      <div class="faq-page__segment__answer">
        <p>Dentro de una actividad, haga clic en el menú superior izquierdo para elegir una unidad y la lección. Haga clic en el siguiente menú para elegir una actividad en una lección. También puede moverse a través de las actividades utilizando los botones “Previous” y “Next”.</p>
      </div>

      <h3 class="faq-page__segment__question">¿A dónde puedo acudir si necesito más ayuda?</h3>
      <div class="faq-page__segment__answer">
        <p>Para obtener asistencia adicional, envíe un correo electrónico a <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. Por favor, incluya la siguiente información en su correo electrónico:</p>
        <ul>
          <li>Su tipo de ordenador (por ejemplo, PC o Mac)</li>
          <li>Su sistema operativo (por ejemplo, Windows 8)</li>
          <li>Su navegador (por ejemplo, Firefox 17.0.5)</li>
          <li>Una descripción del problema, incluyendo las acciones específicas que se realizaron antes de que ocurriera el problema.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page SPANISH-->

<div 
class="faq-page"
ng-if="language.language == 'japanese'"
>

  <h1 class="faq-page__heading">よくある質問</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">登録情報（名前、パスワード、メールアドレスなど）を変更するには？</h3>
      <div class="faq-page__segment__answer">
        <p>画面上のEdit Profile[プロフィールの編集]をクリックして、画面を表示させます。この画面から、名前、パスワード、メールアドレスの変更ができます。</p>
      </div>

      <h3 class="faq-page__segment__question">レベルを追加するには？</h3>
      <div class="faq-page__segment__answer">
        <p>ホーム画面より、Add a level[レベルの追加]をクリックし、表示に従って新しいレベルを追加してください。新しいレベルを追加するたびに、アクセスコードが必要となります。</p>
      </div>

      <h3 class="faq-page__segment__question">テキストの音声を聞くには？</h3>
      <div class="faq-page__segment__answer">
        <p>生徒の場合：ホーム画面からレベルを選びます。ホーム画面のMedia Centre[メディアセンター]のアイコンをクリックして、聞きたい音声ファイルを選択します。</p>
        <p>先生の場合：ホームページのActivities[アクティビティ]のリンクから、Media Centre[メディアセンター]にアクセスしてください。</p>
      </div>

      <h3 class="faq-page__segment__question">クラスに参加登録するには？</h3>
      <div class="faq-page__segment__answer">
        <p>登録時にクラスIDコードを入力しなかった場合は、ホーム画面にJoin a Class[クラスへの参加登録]というアイコンが表示されます。このアイコンをクリックして、クラスIDコードを入力してください。Save[保存]ボタンをクリックすると、ホーム画面に戻ります。クラスIDコードは先生から渡されます。</p>
      </div>

      <h3 class="faq-page__segment__question">クラスを変更するには？</h3>
      <div class="faq-page__segment__answer">
        <p>ホーム画面のChange Class[クラスの変更]のアイコンをクリックします。新しいクラスIDコードを入力して、Save[保存]ボタンをクリックすると、ホーム画面に戻ります。クラスIDコードは先生から渡されます。</p>
      </div>

      <h3 class="faq-page__segment__question">クラスに参加しないとOnline Practiceを使うことはできませんか？</h3>
      <div class="faq-page__segment__answer">
        <p>いいえ。クラスに参加しなくてもOnline Practiceは使用できます。</p>
      </div>

      <h3 class="faq-page__segment__question">自分のプログレスレポートを見るには？</h3>
      <div class="faq-page__segment__answer">
        <p>ホーム画面からScores[得点]のアイコンをクリックして、Achievements and Reports[成績表とレポート]のエリアを開きます。画面上部のReports[レポート]タブを選択してください。</p>
      </div>
 
      <h3 class="faq-page__segment__question">音声が聞けないのですが？</h3>
      <div class="faq-page__segment__answer">
        <p>音声が聞けないときには、いくつかの理由が考えられます。</p>
        <ol>
          <li>スピーカーのスイッチが入っているか、接続されているかを確認してください。</li>
          <li>コンピュータまたはデバイスのボリューム設定が、ミュートになっていないか確認してください。</li>
          <li>ヘッドフォンを取り外しませんでしたか？ウェブサイトをロードした後、またはオーディオトラックを再生している途中でヘッドフォンを取り外すと、オーディオプレーヤーが作動しなくなることがあります。この問題を解決するには、一旦ブラウザを完全に終了し、もう一度プログラムをスタートしてください。</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">別のユニットに行くには？</h3>
      <div class="faq-page__segment__answer">
        <p>ひとつのアクティビティ内では、画面上部左側のメニューをクリックしてユニットとレッスンを選択してください。レッスン内でアクティビティを選ぶには次のメニューをクリックしてください。また、Previous[前に]やNext[次へ]ボタンを使えば、アクティビティ間を移動することができます。</p>
      </div>

      <h3 class="faq-page__segment__question">さらにヘルプが必要な場合は？</h3>
      <div class="faq-page__segment__answer">
        <p>さらにサポートが必要なときには、<a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. まで、メールでお問い合わせください。メールには以下の内容をお書きください。</p>
        <ul>
          <li>コンピュータの種類（例：PC、Macなど）</li>
          <li>OS（例：Windows 8など）</li>
          <li>ブラウザ（例：Firefox 17.0.5など）</li>
          <li>お困りの問題の内容。とくに、その問題が生じる前に行った操作について明記してください。</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page JAPANESE-->

<div 
class="faq-page"
ng-if="language.language == 'chinese'"
>

  <h1 class="faq-page__heading">常問問題</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">如何修改我的個人資料？（例如姓名、密碼、電子郵件地址）</h3>
      <div class="faq-page__segment__answer">
        <p>點擊螢幕上方的「編輯個人檔案」，打開編輯檔案畫面。在編輯檔案畫面您可以修改您的姓名、密碼及電子郵件地址。</p>
      </div>

      <h3 class="faq-page__segment__question">如何新增等級？</h3>
      <div class="faq-page__segment__answer">
        <p>從您的首頁畫面，點擊「新增等級」，按照步驟即可新增一個等級，每次新增等級，您會需要那個等級的通行代碼。</p>
      </div>

      <h3 class="faq-page__segment__question">如何收聽我的課本的錄音檔？</h3>
      <div class="faq-page__segment__answer">
        <p>學生：從您的首頁畫面，選擇您的等級。在首頁畫面點擊媒體中心圖示，再點選您希望收聽的錄音檔案。</p>
        <p>教師：從您的首頁畫面當中的學習活動連結，可以連到媒體中心。</p>
      </div>

      <h3 class="faq-page__segment__question">如何參加一個班級？</h3>
      <div class="faq-page__segment__answer">
        <p>如果您註冊的時候，沒有輸入班級代碼，您的首頁畫面會有一個「加入班級」的圖示，點選「加入班級」、輸入班級代碼並點擊「存檔」按鈕，回到您的首頁畫面。您可以從您的老師那裡獲得班級代碼。</p>
      </div>

      <h3 class="faq-page__segment__question">如何更改班級？</h3>
      <div class="faq-page__segment__answer">
        <p>在您的首頁畫面，點擊「更改班級」圖示，輸入您的新班級代碼並點擊「存檔」按鈕，回到您的首頁畫面。您可以從您的老師那裡獲得班級代碼。</p>
      </div>

      <h3 class="faq-page__segment__question">我一定要加入班級嗎？</h3>
      <div class="faq-page__segment__answer">
        <p>不用，您不必加入班級就可以使用線上練習。</p>
      </div>

      <h3 class="faq-page__segment__question">如何觀看我的學習進度報告？</h3>
      <div class="faq-page__segment__answer">
        <p>從您的首頁畫面，點擊「分數」圖示，便可以打開成果與報告區。請點選位於網頁頂端的報告標籤。</p>
      </div>
 
      <h3 class="faq-page__segment__question">為什麼我聽不到錄音檔案？</h3>
      <div class="faq-page__segment__answer">
        <p>聽不到錄音檔案，可能有幾個原因。</p>
        <ol>
          <li>檢查您的喇叭是否打開電源並插好接頭。</li>
          <li>確認您的電腦或裝置的音量設定，是否已打開而不是靜音。</li>
          <li>您拔掉耳機了嗎？如果讀取網站之後、或播放錄音檔時拔掉耳機，可能會導致錄音播放程式中止。為了解決此問題，請關掉您的瀏覽器，然後重新啟動程式。</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">如何前往不同單元？</h3>
      <div class="faq-page__segment__answer">
        <p>在學習活動中，點擊左上角的選單，選擇一個單元與課程。點選下一張選單，選擇此課程裡面的活動。您也可以使用「往前」與「往後」按鈕，在學習活動中瀏覽。</p>
      </div>

      <h3 class="faq-page__segment__question">如果我還是需要協助，該怎麼辦？</h3>
      <div class="faq-page__segment__answer">
        <p>如需更多協助，請寄電子郵件到<a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. 請在您的信件中提供以下資訊：</p>
        <ul>
          <li>您使用的電腦種類（例如：PC或蘋果電腦）</li>
          <li>您的作業系統（例如：Windows8）</li>
          <li>您的瀏覽器（例如：Firefox 17.0.5）</li>
          <li>描述您的問題，包括問題發生之前，您做了哪些動作。</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page CHINESE-->

<div 
class="faq-page"
ng-if="language.language == 'thai'"
>

  <h1 class="faq-page__heading">คำถามที่พบบ่อย</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">หากต้องการเปลี่ยนข้อมูลส่วนตัว (เช่น ชื่อ, รหัสผ่าน, อีเมล) ทำได้อย่างไร?</h3>
      <div class="faq-page__segment__answer">
        <p>คลิกที่ แก้ไขข้อมูลส่วนตัว” ด้านบนสุดของจอ เพื่อเข้าหน้าแก้ไขข้อมูลส่วนตัว ท่านสามารถแก้ไขชื่อ รหัสผ่าน และ อีเมล ได้ที่นี่</p>
      </div>

      <h3 class="faq-page__segment__question">หากต้องการเพิ่มระดับชั้นเรียนใหม่ทำได้อย่างไร?</h3>
      <div class="faq-page__segment__answer">
        <p>ก่อนเพิ่มระดับชั้นเรียน คุณจำเป็นต้องมีรหัสสำหรับเพิ่มระดับใหม่ หากมีรหัสอยู่แล้วคลิกที่ “เพิ่มระดับชั้นเรียน” ในหน้าหลัก ทำตามขั้นตอนเรื่อยๆ</p>
      </div>

      <h3 class="faq-page__segment__question">หากต้องการฟังเสียงจากหนังสือเรียนทำได้อย่างไร?</h3>
      <div class="faq-page__segment__answer">
        <p>นักเรียน : เลือกระดับชั้นเรียนของคุณจากหน้าหลัก คลิกที่เมนู มัลติมีเดียแล้วเลือกไฟล์เสียงที่ต้องการ</p>
        <p>ครูผู้สอน : เข้าหน้ามัลติมีเดียได้จากลิงค์กิจกรรม ในหน้าหลัก</p>
      </div>

      <h3 class="faq-page__segment__question">ฉันจะเข้าร่วมชั้นเรียนได้อย่างไร?/h3>
      <div class="faq-page__segment__answer">
        <p>ตอนลงทะเบียนหากคุณไม่ได้ใส่ ”รหัสประจำห้องเรียน” ให้คลิกที่เมนู “เข้าร่วมชั้นเรียน” ในหน้าหลัก ใส่รหัสประจำห้องเรียน แล้วคลิก”บันทึก” คุณสามารถสอบถามรหัสประจำห้องเรียนได้จากครูผู้สอน</p>
      </div>

      <h3 class="faq-page__segment__question">หากต้องการเปลี่ยนห้องเรียนทำได้อย่างไร?</h3>
      <div class="faq-page__segment__answer">
        <p>คลิกที่เมนู “เปลี่ยนห้องเรียน” ในหน้าหลัก ใส่รหัสประจำห้องเรียนใหม่  คลิก ”บันทึก” คุณสามารถสอบถามรหัสประจำห้องเรียนได้จากครูผู้สอน</p>
      </div>

      <h3 class="faq-page__segment__question">ฉันจำเป็นต้องเข้าเรียนหรือไม่?</h3>
      <div class="faq-page__segment__answer">
        <p>ไม่จำเป็น  คุณสามารถทำแบบฝึกหัดออนไลน์ได้โดยไม่ต้องเข้าเรียน</p>
      </div>

      <h3 class="faq-page__segment__question">ฉันจะดูรายงานความก้าวหน้าของตัวเองได้อย่างไร?</h3>
      <div class="faq-page__segment__answer">
        <p>คลิกที่เมนู “คะแนน” ในหน้าหลักเพื่อดูรายงานความสำเร็จ โดยเลือกรายงานที่ต้องการจากแถบด้านบน</p>
      </div>
 
      <h3 class="faq-page__segment__question">ทำไมฉันถึงไม่ได้ยินเสียง?</h3>
      <div class="faq-page__segment__answer">
        <p>มีหลายสาเหตุที่ทำให้ไม่ได้ยินเสียง</p>
        <ol>
          <li>ตรวจสอบลำโพงว่าเปิดอยู่และใช้งานได้</li>
          <li>ตรวจสอบการตั้งระดับความดังของเสียงจากเครื่องคอมพิวเตอร์ ว่าอยู่ในระดับปกติ และไม่ได้ปิดเสียง</li>
          <li>ถ้ามีการดึงหูฟังออก หลังจากที่ได้โหลดหน้าเว็บไซต์ หรือระหว่างฟังไฟล์เสียงใดๆ อาจทำให้การเล่นเสียงหยุดทำงาน  สามารถแก้ปัญหาได้โดยปิดหน้าเว็บไซต์ทั้งหมด แล้วเปิดใหม่อีกครั้ง</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">หากต้องการเปลี่ยนบทเรียนทำได้อย่างไร?</h3>
      <div class="faq-page__segment__answer">
        <p>ระหว่างทำกิจกรรม คลิกที่เมนูซ้ายบน เพื่อเลือกบทเรียนที่ต้องการ  คลิก เมนูถัดไป เพื่อเลือกกิจกรรมในบทเรียนนั้น หรือ คลิกที่  “ย้อนกลับ” หรือ “ถัดไป” </p>
      </div>

      <h3 class="faq-page__segment__question">หากต้องการความช่วยเหลือเพิ่มเติมทำอย่างไร?</h3>
      <div class="faq-page__segment__answer">
        <p>สำหรับความช่วยเหลือเพิ่มเติม  สอบถามได้ที่อีเมล <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. โดยใส่ข้อมูลต่อไปนี้ให้ครบ:</p>
        <ul>
          <li>ชนิดของคอมพิวเตอร์ที่ใช้อยู่ (เช่น Mac หรือ PC)</li>
          <li>ระบบปฏิบัติการที่ใช้อยู่ (เช่น Windows 8)</li>
          <li>เว็บเบราเซอร์ที่ใช้ (เช่น Firefox 17.0.5)</li>
          <li>คำอธิบายปัญหาอย่างครบถ้วน รวมทั้งการกระทำที่ทำ ก่อนเกิดปัญหา</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page THAI-->

<div 
class="faq-page"
ng-if="language.language == 'korean'"
>

  <h1 class="faq-page__heading">자주 묻는 질문</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">개인 정보를 어떻게 변경할 수 있습니까? (이름, 패스워드, 이메일 주소)</h3>
      <div class="faq-page__segment__answer">
        <p>화면 상단의 “프로필 편집"을 클릭하여 “프로필 편집" 화면을 여십시오. 프로필 편집 화면에서 이름과 패스워드, 이메일 주소를 변경할 수 있습니다.</p>
      </div>

      <h3 class="faq-page__segment__question">새로운 레벨은 어떻게 추가할 수 있습니까?</h3>
      <div class="faq-page__segment__answer">
        <p>홈 화면에서 “레벨 추가"를 클릭하십시오. 새로운 레벨을 추가하는 단계를 따르십시오. 추가하고자 하시는 각각의 새 레벨에 대한 접속 코드가 필요합니다.</p>
      </div>

      <h3 class="faq-page__segment__question">책의 음성 자료를 어떻게 들을 수 있습니까?</h3>
      <div class="faq-page__segment__answer">
        <p>학생: 홈 화면에서 레벨을 선택하십시오. 홈 화면에서 미디어 센터 아이콘을 클릭하십시오. 재생하고자 하는 음성 파일을 선택하십시오.</p>
        <p>교사: 홈페이지 활동 링크에서 미디어 센터에 접속하십시오.</p>
      </div>

      <h3 class="faq-page__segment__question">수업에 어떻게 참여할 수 있습니까?</h3>
      <div class="faq-page__segment__answer">
        <p>등록 시 수업 ID 코드를 입력하지 않았다면 홈 화면에 “수업 참여" 아이콘이 표시됩니다. “수업 참여" 아이콘을 클릭하고 수업 ID 코드를 입력한 다음 “저장" 버튼을 클릭하여 홈 화면으로 돌아가십시오. 교사로부터 수업 ID 코드를 받을 수 있습니다.</p>
      </div>

      <h3 class="faq-page__segment__question">수업을 어떻게 변경할 수 있습니까?</h3>
      <div class="faq-page__segment__answer">
        <p>홈 화면에서 “수업 변경" 아이콘을 클릭하십시오. 새로운 수업 ID 코드를 입력한 다음 “저장" 버튼을 클릭하여 홈 화면으로 돌아가십시오. 교사로부터 수업 ID 코드를 받을 수 있습니다.</p>
      </div>

      <h3 class="faq-page__segment__question">수업에 참여해야 합니까?</h3>
      <div class="faq-page__segment__answer">
        <p>아니오. 수업에 참여하지 않아도 온라인 실습을 이용할 수 있습니다.</p>
      </div>

      <h3 class="faq-page__segment__question">나의 학업 진행 보고서를 어떻게 볼 수 있습니까?</h3>
      <div class="faq-page__segment__answer">
        <p>홈 화면에서 “점수" 아이콘을 클릭하여 성과 및 보고서 영역을 여십시오. 상단의 보고서 탭을 선택하십시오.</p>
      </div>
 
      <h3 class="faq-page__segment__question">왜 소리가 나지 않습니까?</h3>
      <div class="faq-page__segment__answer">
        <p>소리가 나지 않는 이유는 몇 가지가 있습니다.</p>
        <ol>
          <li>스피커 전원이 켜져 있고 선이 연결되어 있는지 확인하십시오.</li>
          <li>컴퓨터나 장치의 음량 설정에서 음량이 충분하고 묵음으로 설정되지 않았는지 확인하십시오.</li>
          <li>헤드폰 선을 빼지 않았습니까? 웹사이트를 로딩한 후나 음성 트랙이 재생되는 중에 헤드폰을 빼면 오디오 플레이어가 작동을 중단할 수 있습니다. 문제를 해결하려면 브라우저를 완전히 닫은 다음 프로그램을 다시 시작하십시오.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">다른 단원으로 어떻게 이동합니까?</h3>
      <div class="faq-page__segment__answer">
        <p>활동 내에서 좌측 상단 메뉴를 클릭하여 단원을 선택하십시오. 다음 메뉴를 클릭하여 단원 내에서 활동을 선택하십시오. “Previous"와 “Next" 버튼을 이용하여 활동간 이동할 수도 있습니다.</p>
      </div>

      <h3 class="faq-page__segment__question">도움이 필요하면 어디로 가야 합니까?</h3>
      <div class="faq-page__segment__answer">
        <p>추가 지원이 필요하시면 <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com으로 이메일을 보내주십시오.</a> 이메일에 다음 정보를 넣어주십시오:</p>
        <ul>
          <li>컴퓨터의 유형 (예:  PC 또는 Mac)</li>
          <li>운영체제(예: Windows 8)</li>
          <li>브라우저 (예: Firefox 17.0.5)</li>
          <li>문제가 발생하기 전에 했던 활동을 포함한 문제에 대한 설명</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page KOREAN-->