<div 
class="faq-page"
ng-if="language.language == 'english'"
>

  <h1 class="faq-page__heading">Frequently Asked Questions</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">How can I change my personal information? (i.e., name, password, email address)</h3>
      <div class="faq-page__segment__answer">
        <p>Click on “Edit Profile” at the top of the screen to open the “Edit Profile” screen. On the Edit Profile screen you can change your name, password and email address.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I add a new level?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, click on “Add a Level”. Follow the steps to add a new level. You will need an access code for each new level you want to add.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I listen to the audio for my book?</h3>
      <div class="faq-page__segment__answer">
        <p>Students: From your Home screen, select your level. On the Home screen, click the Media Centre icon. Select the audio file you want to play.</p>
        <p>Teachers: Access your Media Centre from the Activities link on your Home page.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I join a class?</h3>
      <div class="faq-page__segment__answer">
        <p>If you did not enter a class ID code during registration, there will be a “Join a Class” icon on your Home screen. Click the “Join a Class” icon, enter your class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I change class?</h3>
      <div class="faq-page__segment__answer">
        <p>On your Home screen, click the “Change Class” icon. Enter your new class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="faq-page__segment__question">Do I have to join a class?</h3>
      <div class="faq-page__segment__answer">
        <p>No. You can use Online Practice without joining a class.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I view my progress report?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, click the “Scores” icon to open the Achievements and Reports area. Choose the Reports tab at the top.</p>
      </div>
 
      <h3 class="faq-page__segment__question">Why can’t I hear my audio?</h3>
      <div class="faq-page__segment__answer">
        <p>There are a few reasons why you may not be able to hear your audio.</p>
        <ol>
          <li>Check that your speakers are turned on and plugged in.</li>
          <li>In the volume settings on your computer or device, check that your volume is up and not muted.</li>
          <li>Did you unplug your headphones? Unplugging your headphones after loading the website or while playing an audio track may cause the audio player to stop working. To solve the problem, close your browser completely and then restart the program.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">How do I go to a different unit?</h3>
      <div class="faq-page__segment__answer">
        <p>Within an activity, click on the top-left menu to choose a unit and lesson. Click on the next menu to choose an activity within a lesson. You can also move through the activities using the “Previous” and “Next” buttons.</p>
      </div>

      <h3 class="faq-page__segment__question">Where can I go if I need more help?</h3>
      <div class="faq-page__segment__answer">
        <p>For additional support, email <a class="external-link" href="mailto:ELTsupport@oup.com">ELTsupport@oup.com</a>. Please include the following information in your email:</p>
        <ul>
          <li>Your type of computer (for example, PC or Mac)</li>
          <li>Your operating system (for example, Windows 8)</li>
          <li>Your browser (for example, Firefox 17.0.5)</li>
          <li>A description of the problem, including any specific actions that were taken before the problem occurred.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page ENGLISH-->

<div 
class="faq-page"
ng-if="language.language == 'turkish'"
>

  <h1 class="faq-page__heading">Sıkça Sorulan Sorular</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">Kişisel bilgilerimi (ad, parola, e-posta adresi vb.) nasıl değiştirebilirim?</h3>
      <div class="faq-page__segment__answer">
        <p>“Edit Profile” ekranını açmak için ekranın en üstünde yer alan “Edit Profile” seçeneğine tıklayın. Profili Düzenle ekranında adınızı, parolanızı ve e-posta adresinizi değiştirebilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Yeni bir seviye nasıl eklerim?</h3>
      <div class="faq-page__segment__answer">
        <p>Anasayfa ekranınızdan, “Add a Level” üzerine tıklayın. Yeni bir seviye ekle adımlarını takip edin. Eklemek istediğiniz her yeni seviye için bir erişim koduna ihtiyacınız olacak.</p>
      </div>

      <h3 class="faq-page__segment__question">Kitabımdan nasıl ses dinlerim?</h3>
      <div class="faq-page__segment__answer">
        <p>Öğrenciler: Anasayfa ekranınızdan, seviyenizi seçin. Anasayfa ekranından, Medya Merkezi simgesine tıklayın. Oynatmak istediğiniz ses dosyasını seçin.</p>
        <p>Öğretmenler: Anasayfanızdaki Aktiviteler linkinden Medya Merkezine erişin.</p>
      </div>

      <h3 class="faq-page__segment__question">Derse nasıl katılırım?</h3>
      <div class="faq-page__segment__answer">
        <p>Kayıt sırasında bir sınıf ID kodu girmediyseniz, Anasayfa ekranında bir “Join a Class” simgesi olacaktır. “Join a Class” simgesine tıklayın, ID kodunuzu girin ve Anasayfa ekranınıza geri dönmek için “Save” düğmesine tıklayın. ID kodunuzu öğretmeninizden alabilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Nasıl ders değiştiririm?</h3>
      <div class="faq-page__segment__answer">
        <p>Anasayfanızdan, “Ders Değiştir” simgesine tıklayın. Yeni ders ID kodunuzu girin ve Anasayfa ekranınıza geri dönmek için “Kaydet” düğmesine tıklayın. ID kodunuzu öğretmeninizden alabilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Bir derse katılmak zorunda mıyım?</h3>
      <div class="faq-page__segment__answer">
        <p>Hayır. Bir derse katılmadan Çevrim İçi Uygulamayı kullanabilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">İlerleme raporumu nasıl görüntülerim?</h3>
      <div class="faq-page__segment__answer">
        <p>Anasayfa ekranınızdan, Başarılar ve Raporlar alanını açmak için “Scores” simgesine tıklayın. En üstteki Raporlar sekmesini seçin.</p>
      </div>
 
      <h3 class="faq-page__segment__question">Sesimi neden duyamıyorum?</h3>
      <div class="faq-page__segment__answer">
        <p>Sesinizi duyamamanızın birkaç nedeni olabilir.</p>
        <ol>
          <li>Hoparlörünüzün açık ve fişe takılı olduğunu kontrol edin.</li>
          <li>Bilgisayarınız ya da cihazınızın ses seviyesi ayarlarından, ses seviyenizin açık olduğunu kontrol edin.</li>
          <li>Kulaklıklarınızı mı çıkardınız? İnternet sitesini yükledikten sonra ya da bir ses parçası oynatırken kulaklıklarınızı çıkardıysanız, ses oynatıcı çalışmayı durdurabilir. Sorunu çözmek için, tarayıcınızı tamamıyla kapatın ve programı yeniden başlatın.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">Farklı bir üniteye nasıl giderim?</h3>
      <div class="faq-page__segment__answer">
        <p>Bir aktivite içerisinden, bir ünite ya da konu seçmek için sol üstteki menüye tıklayın. Konunun içindeki bir aktivite seçmek için bir sonraki menüye tıklayın. “Previous” ve “Next” düğmelerini kullanarak da aktiviteler arasında gezinebilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Daha fazla yardım için nereye başvurabilirim?</h3>
      <div class="faq-page__segment__answer">
        <p>Ek destek için, <a class="external-link" href="mailto:ELTsupport@oup.com">ELTsupport@oup.com</a> adresine e-posta gönderin. E-postanıza lütfen aşağıdaki bilgileri ekleyin:</p>
        <ul>
          <li>Bilgisayar türünüz (PC ya da Mac vb.)</li>
          <li>İşletim sisteminiz (Windows 8 vb.)</li>
          <li>Tarayıcınız (Firefox 17.0.5 vb.)</li>
          <li>Sorun meydana gelmeden önce yapılan spesifik eylem de dahil, sorunun tanımı.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page TURKISH-->

<div 
class="faq-page rtl"
ng-if="language.language == 'arabic'"
>

  <h1 class="faq-page__heading">الأسئلة الشائعة</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">كيف يمكنني تغيير معلوماتي الشخصية؟ (أعني الاسم، كلمة المرور، عنوان البريد الإلكتروني)</h3>
      <div class="faq-page__segment__answer">
        <p>انقر على“Edit Profile” ("تحرير الملف الشخصي") في أعلى الشاشة لفتح شاشة "تحريرالملف الشخصي". في شاشة تحرير الملف الشخصي يمكنك تغيير اسمك وكلمة المرور وعنوان البريد الإلكتروني.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أضيف مستوى جديدًا؟</h3>
      <div class="faq-page__segment__answer">
        <p>من شاشتك الرئيسية، انقر على"أضف مستوى". اتبع الخطوات لإضافة مستوى جديد. سوف تحتاج إلى رمز دخول لكل مستوى جديد ترغب في إضافته.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أستمع إلى الصوت الخاص بكتابي؟</h3>
      <div class="faq-page__segment__answer">
        <p>بالنسبة للطلاب: من شاشتك الرئيسية، حدد المستوى الخاص بك. على الشاشة الرئيسية، انقر أيقونة مركز الوسائط. حدد الملف الصوتي الذي ترغب في تشغيله.</p>
        <p>بالنسبة للمعلمين: أدخل على مركز الوسائط الخاص بك من رابط الأنشطة الموجود على صفحتك الرئيسية.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أنضم لفصل؟</h3>
      <div class="faq-page__segment__answer">
        <p>إذا لم تدخل رمز مُعرِّف الفصل أثناء التسجيل، سوف تكون هناك أيقونة “Join a Class” ("الانضمام لفصل") على شاشتك الرئيسية. انقر أيقونة "الانضمام لفصل" وأدخل رمز مُعرِّف الفصل الخاص بك وانقر على زِر“Save” ("حفظ") للعودة إلى شاشتك الرئيسية. يمكنك الحصول على رمز مُعرِّف الفصل الخاص بك من معلمك.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أغير الفصل؟</h3>
      <div class="faq-page__segment__answer">
        <p>على شاشتك الرئيسية، انقر على أيقونة“Change Class” ("تغيير الفصل"). أدخل رمز مُعرِّف الفصل الجديد وانقر على زِر“Save” ("حفظ") للعودة إلى شاشتك الرئيسية. يمكنك الحصول على رمز مُعرِّف الفصل الخاص بك من معلمك.</p>
      </div>

      <h3 class="faq-page__segment__question">هل يجب عليَّ أن أنضم لفصل؟</h3>
      <div class="faq-page__segment__answer">
        <p>لا. يمكنك استخدام الممارسة عبر شبكة الإنترنت دون الانضمام لفصل.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أعرض تقرير التقدم الخاص بي؟</h3>
      <div class="faq-page__segment__answer">
        <p>من شاشتك الرئيسية، انقر على أيقونة “Scores” ("الدرجات") لفتح منطقة التحصيل والتقرير. اختر علامة تبويب التقارير في الأعلى.</p>
      </div>
 
      <h3 class="faq-page__segment__question">لماذا لا يمكنني أن أسمع صوتي؟</h3>
      <div class="faq-page__segment__answer">
        <p>توجد هناك أسباب قليلة وراء عدم استطاعتك سماع صوتك.</p>
        <ol>
          <li>تحقق من أن السماعات الخاصة بك في وضع التشغيل وموصلة بقابس.</li>
          <li>في إعدادات الصوت على الحاسب أو الجهاز الخاص بك، تحقق من أن مستوى الصوت لديك عالٍ وليست في وضع صامت.</li>
          <li>هل قمت بنزع قابس سماعات الرأس؟ إن نزع قابس سماعات الرأس الخاصة بك بعد تحميل موقع الويب أو أثناء تشغيل مسار صوتي قد يسبب في توقف مشغل الصوت عن العمل. لحل المشكلة؛ أغلق المتصفح الخاص بك بشكل كامل وأعد تشغيل البرامج.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">كيف أنتقل إلى وحدة مختلفة؟</h3>
      <div class="faq-page__segment__answer">
        <p>خلال أي نشاط، انقر على القائمة الموجودة أعلى اليسار لاختيار الوحدة والدرس. استخدم القائمة التالية لاختيار نشاط من خلال درس ما. يمكنك أيضًا الانتقال عبر الأنشطة باستخدام الزرين“Next” ("التالي") و“Previous”  ("السابق").</p>
      </div>

      <h3 class="faq-page__segment__question">أين يمكنني أن أذهب إذا احتجت مزيدًا من المساعدة؟</h3>
      <div class="faq-page__segment__answer">
        <p>للحصول على مزيد من الدعم، أرسل رسالة بريد إلكتروني إلى <a class="external-link" href="mailto:ELTsupport@oup.com">ELTsupport@oup.com</a>. يُرجَى إدراج المعلومات التالية في رسالة البريد الإلكتروني الخاصة بك:</p>
        <ul>
          <li>نوع الحاسب الخاص بك (حاسب شخصي أو ماك، على سبيل المثال)</li>
          <li>نظام التشغيل الخاص بك (على سبيل المثال:8Windows)</li>
          <li>المتصفح الخاص بك ( 17.0.5Firefox، على سبيل المثال)</li>
          <li>وصف المشكلة، والذي يشمل أي إجراءات معينة تم اتخاذها قبل وقوع المشكلة.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page ARABIC-->

<div 
class="faq-page"
ng-if="language.language == 'spanish'"
>

  <h1 class="faq-page__heading">Frequently Asked Questions</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">How can I change my personal information? (i.e., name, password, email address)</h3>
      <div class="faq-page__segment__answer">
        <p>Click on “Edit Profile” at the top of the screen to open the “Edit Profile” screen. On the Edit Profile screen you can change your name, password and email address.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I add a new level?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, click on “Add a Level”. Follow the steps to add a new level. You will need an access code for each new level you want to add.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I listen to the audio for my book?</h3>
      <div class="faq-page__segment__answer">
        <p>Students: From your Home screen, select your level. On the Home screen, click the Media Centre icon. Select the audio file you want to play.</p>
        <p>Teachers: Access your Media Centre from the Activities link on your Home page.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I join a class?</h3>
      <div class="faq-page__segment__answer">
        <p>If you did not enter a class ID code during registration, there will be a “Join a Class” icon on your Home screen. Click the “Join a Class” icon, enter your class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I change class?</h3>
      <div class="faq-page__segment__answer">
        <p>On your Home screen, click the “Change Class” icon. Enter your new class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="faq-page__segment__question">Do I have to join a class?</h3>
      <div class="faq-page__segment__answer">
        <p>No. You can use Online Practice without joining a class.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I view my progress report?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, click the “Scores” icon to open the Achievements and Reports area. Choose the Reports tab at the top.</p>
      </div>
 
      <h3 class="faq-page__segment__question">Why can’t I hear my audio?</h3>
      <div class="faq-page__segment__answer">
        <p>There are a few reasons why you may not be able to hear your audio.</p>
        <ol>
          <li>Check that your speakers are turned on and plugged in.</li>
          <li>In the volume settings on your computer or device, check that your volume is up and not muted.</li>
          <li>Did you unplug your headphones? Unplugging your headphones after loading the website or while playing an audio track may cause the audio player to stop working. To solve the problem, close your browser completely and then restart the program.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">How do I go to a different unit?</h3>
      <div class="faq-page__segment__answer">
        <p>Within an activity, click on the top-left menu to choose a unit and lesson. Click on the next menu to choose an activity within a lesson. You can also move through the activities using the “Previous” and “Next” buttons.</p>
      </div>

      <h3 class="faq-page__segment__question">Where can I go if I need more help?</h3>
      <div class="faq-page__segment__answer">
        <p>For additional support, email <a class="external-link" href="mailto:ELTsupport@oup.com">ELTsupport@oup.com</a>. Please include the following information in your email:</p>
        <ul>
          <li>Your type of computer (for example, PC or Mac)</li>
          <li>Your operating system (for example, Windows 8)</li>
          <li>Your browser (for example, Firefox 17.0.5)</li>
          <li>A description of the problem, including any specific actions that were taken before the problem occurred.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page SPANISH-->