<div 
class="faq-page"
ng-if="language.language == 'english'"
>

  <h1 class="faq-page__heading">Frequently Asked Questions</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">How can I change my personal information? (i.e., name, password, email address)</h3>
      <div class="faq-page__segment__answer">
        <p>Click on “Edit Profile” at the top of the screen to open the “Edit Profile” screen. On the Edit Profile screen you can change your name, password and email address.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I add a new level?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, click on “Add a Level”. Follow the steps to add a new level. You will need an access code for each new level you want to add.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I listen to the audio for my book?</h3>
      <div class="faq-page__segment__answer">
        <p>Students: From your Home screen, select your level. On the Home screen, click the Media Centre icon. Select the audio file you want to play.</p>
        <p>Teachers: Access your Media Centre from the Activities link on your Home page.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I join a class?</h3>
      <div class="faq-page__segment__answer">
        <p>If you did not enter a class ID code during registration, there will be a “Join a Class” icon on your Home screen. Click the “Join a Class” icon, enter your class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I change class?</h3>
      <div class="faq-page__segment__answer">
        <p>On your Home screen, click the “Change Class” icon. Enter your new class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="faq-page__segment__question">Do I have to join a class?</h3>
      <div class="faq-page__segment__answer">
        <p>No. You can use Online Practice without joining a class.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I view my progress report?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, click the “Scores” icon to open the Achievements and Reports area. Choose the Reports tab at the top.</p>
      </div>
 
      <h3 class="faq-page__segment__question">Why can’t I hear my audio?</h3>
      <div class="faq-page__segment__answer">
        <p>There are a few reasons why you may not be able to hear your audio.</p>
        <ol>
          <li>Check that your speakers are turned on and plugged in.</li>
          <li>In the volume settings on your computer or device, check that your volume is up and not muted.</li>
          <li>Did you unplug your headphones? Unplugging your headphones after loading the website or while playing an audio track may cause the audio player to stop working. To solve the problem, close your browser completely and then restart the program.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">How do I go to a different unit?</h3>
      <div class="faq-page__segment__answer">
        <p>Within an activity, click on the top-left menu to choose a unit and lesson. Click on the next menu to choose an activity within a lesson. You can also move through the activities using the “Previous” and “Next” buttons.</p>
      </div>

      <h3 class="faq-page__segment__question">Where can I go if I need more help?</h3>
      <div class="faq-page__segment__answer">
        <p>For additional support, email <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. Please include the following information in your email:</p>
        <ul>
          <li>Your type of computer (for example, PC or Mac)</li>
          <li>Your operating system (for example, Windows 8)</li>
          <li>Your browser (for example, Firefox 17.0.5)</li>
          <li>A description of the problem, including any specific actions that were taken before the problem occurred.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page ENGLISH-->

<div 
class="faq-page"
ng-if="language.language == 'turkish'"
>

  <h1 class="faq-page__heading">Sıkça Sorulan Sorular</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">Kişisel bilgilerimi (ad, parola, e-posta adresi vb.) nasıl değiştirebilirim?</h3>
      <div class="faq-page__segment__answer">
        <p>“Edit Profile” sayfasını açmak için ekranın en üstünde yer alan “Edit Profile” seçeneğine tıklayın. Profili Düzenle ekranında adınızı, parolanızı ve e-posta adresinizi değiştirebilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Yeni bir seviye nasıl eklerim?</h3>
      <div class="faq-page__segment__answer">
        <p>Anasayfa ekranınızdan, “Add a Level” üzerine tıklayın. Yeni bir seviye ekle adımlarını takip edin. Eklemek istediğiniz her yeni seviye için bir erişim koduna ihtiyacınız olacaktır.</p>
      </div>

      <h3 class="faq-page__segment__question">Kitabımdaki ses dosyalarını nasıl dinlerim?</h3>
      <div class="faq-page__segment__answer">
        <p>Öğrenciler: Anasayfa ekranınızdan, seviyenizi seçin. Anasayfa ekranından, Medya Merkezi simgesine tıklayın. Oynatmak istediğiniz ses dosyasını seçin.</p>
        <p>Öğretmenler: Anasayfanızdaki Aktiviteler bağlantısından Medya Merkezine erişin.</p>
      </div>

      <h3 class="faq-page__segment__question">Bir sınıfa nasıl katılırım?</h3>
      <div class="faq-page__segment__answer">
        <p>Kayıt sırasında bir sınıf kimlik (ID) kodu girmediyseniz, Anasayfa ekranında bir “Join a Class” simgesi olacaktır. “Join a Class” simgesine tıklayın, (C-... ile başlayan) sınıf ID kodunuzu girin ve Anasayfa ekranınıza geri dönmek için “Save” düğmesine tıklayın. (C-... ile başlayan) sınıf ID kodunuzu öğretmeninizden alabilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Nasıl sınıf değiştiririm?</h3>
      <div class="faq-page__segment__answer">
        <p>Anasayfanızdan, “Change Class” simgesine tıklayın. Yeni sınıf kimlik (ID) kodunuzu girin ve Anasayfa ekranınıza geri dönmek için “Save” düğmesine tıklayın. (C-... ile başlayan) sınıf ID kodunuzu öğretmeninizden alabilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Bir sınıfa katılmak zorunda mıyım?</h3>
      <div class="faq-page__segment__answer">
        <p>Hayır. Bir sınıfa katılmadan Online Uygulamayı kullanabilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">İlerleme raporumu nasıl görürüm?</h3>
      <div class="faq-page__segment__answer">
        <p>Anasayfa ekranınızdan, Başarılar ve Raporlar alanını açmak için “Scores” simgesine tıklayın. En üstteki Raporlar sekmesini seçin.</p>
      </div>
 
      <h3 class="faq-page__segment__question">Sesimi neden duyamıyorum?</h3>
      <div class="faq-page__segment__answer">
        <p>Sesinizi duyamamanızın birkaç nedeni olabilir.</p>
        <ol>
          <li>Hoparlörünüzün açık ve fişe takılı olduğunu kontrol edin.</li>
          <li>Bilgisayarınız ya da cihazınızın ses seviyesi ayarlarından, ses seviyenizin açık olduğunu kontrol edin.</li>
          <li>Kulaklıklarınızı mı çıkardınız? İnternet sitesini yükledikten sonra ya da bir ses parçası çalarken kulaklıklarınızı çıkardıysanız, ses çalar çalışmayı durdurabilir. Sorunu çözmek için, internet tarayıcınızı tamamen kapatın ve yeniden başlatın.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">Farklı bir üniteye nasıl giderim?</h3>
      <div class="faq-page__segment__answer">
        <p>Bir aktivite içerisinden, bir ünite ya da ders seçmek için sol üstteki menüye tıklayın. Dersin içindeki bir aktiviteyi seçmek için bir sonraki menüye tıklayın. “Previous” ve “Next” düğmelerini kullanarak da aktiviteler arasında gezinebilirsiniz.</p>
      </div>

      <h3 class="faq-page__segment__question">Daha fazla yardım için nereye başvurabilirim?</h3>
      <div class="faq-page__segment__answer">
        <p>Daha fazla yardım için, <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a> adresine bir e-posta gönderin. Mesajınıza lütfen aşağıdaki bilgileri ekleyin:</p>
        <ul>
          <li>Bilgisayar türünüz (PC ya da Mac vb.)</li>
          <li>İşletim sisteminiz (Windows 8 vb.)</li>
          <li>Tarayıcınız (Firefox 17.0.5 vb.)</li>
          <li>Sorun meydana gelmeden önce yapılan spesifik eylem de dahil, sorunun tanımı.</li>
          <li>Varsa bir ekran görüntüsü.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page TURKISH-->

<div 
class="faq-page"
ng-if="language.language == 'spanish'"
>

  <h1 class="faq-page__heading">Preguntas Frecuentes</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">¿Cómo puedo cambiar mi información personal? (Es decir, nombre, contraseña, dirección de correo electrónico)</h3>
      <div class="faq-page__segment__answer">
        <p>Haga clic en "Edit Profile" en la parte superior de la pantalla para abrir la pantalla de "Edit Profile". Puede cambiar su nombre, contraseña y dirección de correo electrónico en la pantalla de "Edit Profile".</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo añadir un nivel nuevo?</h3>
      <div class="faq-page__segment__answer">
        <p>Desde su pantalla de Inicio, haga clic en "Add a Level". Siga los pasos para añadir un nivel nuevo. Necesitará un código de acceso para cada nuevo nivel que desee añadir.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo escuchar el audio de mi libro?</h3>
      <div class="faq-page__segment__answer">
        <p>Estudiantes: Desde la pantalla de Inicio, seleccione su nivel. En la pantalla de Inicio, haga clic en el icono de Media Centre [Centro de Medios]. Seleccione el archivo de audio que desea reproducir.</p>
        <p>Profesores: Acceda a su Centro de Medios desde el enlace de Actividades en su Página de Inicio.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo me inscribo a una clase?</h3>
      <div class="faq-page__segment__answer">
        <p>Si no ha introducido un código de ID de clase durante el registro, encontrará un icono de "Join a Class" en su pantalla de Inicio. Haga clic en el icono de "Join a Class", ingrese su código de ID de clase y haga clic en el botón "Save" para volver a la pantalla de Inicio. Puede obtener su código de ID de clase a través de su profesor.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo cambiar de clase?</h3>
      <div class="faq-page__segment__answer">
        <p>En la pantalla de inicio, haga clic en el icono "Change Class". Ingrese su nuevo código de ID de clase y haga clic en el botón "Save" para volver a la pantalla de Inicio. Puede obtener su código de ID de clase a través de su profesor.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Debo inscribirme a clases?</h3>
      <div class="faq-page__segment__answer">
        <p>No. Puede utilizar la Práctica Online sin inscribirse a una clase.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo ver mi informe de progreso?</h3>
      <div class="faq-page__segment__answer">
        <p>Desde la pantalla de Inicio, haga clic en el icono de "Scores" para abrir el área de Achievements [Logros] y Reports [Informes]. Seleccione la pestaña Reports situada en la parte superior.</p>
      </div>
 
      <h3 class="faq-page__segment__question">¿Por qué no puedo escuchar mi audio?</h3>
      <div class="faq-page__segment__answer">
        <p>Existen algunas razones por las que posiblemente no pueda escuchar el audio.</p>
        <ol>
          <li>Compruebe que los altavoces estén encendidos y conectados.</li>
          <li>Compruebe el nivel de volumen en su ordenador o dispositivo y que éste no esté silenciado.</li>
          <li>¿Es posible que haya desconectado los auriculares? Desconectar los auriculares después de cargar el sitio web o durante la reproducción de una pista de audio podría hacer que el reproductor de audio deje de funcionar. Para resolver el problema, cierre el navegador por completo y reinicie el programa.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo accedo a una unidad diferente?</h3>
      <div class="faq-page__segment__answer">
        <p>Dentro de una actividad, haga clic en el menú de arriba a la izquierda para elegir una unidad y lección. Haga clic en el siguiente menú para elegir una actividad dentro de la lección. También puede navegar a través de las actividades utilizando los botones "Previous" y "Next".</p>
      </div>

      <h3 class="faq-page__segment__question">¿A dónde puedo acudir si necesito más ayuda?</h3>
      <div class="faq-page__segment__answer">
        <p>Para obtener asistencia adicional, envíe un correo electrónico a <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. Por favor, incluya la siguiente información en su correo electrónico:</p>
        <ul>
          <li>Su tipo de ordenador (por ejemplo, PC o Mac)</li>
          <li>Su sistema operativo (por ejemplo, Windows 8)</li>
          <li>Su navegador (por ejemplo, Firefox 17.0.5)</li>
          <li>Una descripción del problema, incluyendo las acciones específicas que se realizaron antes de que ocurriera el problema.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page SPANISH-->

<div 
class="faq-page"
ng-if="language.language == 'spanish_la'"
>

  <h1 class="faq-page__heading">Preguntas Frecuentes</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">¿Cómo puedo cambiar mi información personal? (Es decir, nombre, contraseña, dirección de correo electrónico)</h3>
      <div class="faq-page__segment__answer">
        <p>Haga click en "Edit Profile" en la parte superior de la pantalla para abrir la pantalla de "Edit Profile". Puede cambiar su nombre, contraseña y dirección de correo electrónico en la pantalla de "Edit Profile".</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo añadir un nivel nuevo?</h3>
      <div class="faq-page__segment__answer">
        <p>Desde su pantalla de Inicio, haga click en "Add a Level". Siga los pasos para añadir un nivel nuevo. Necesitará un código de acceso para cada nuevo nivel que desee añadir.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo escuchar el audio de mi libro?</h3>
      <div class="faq-page__segment__answer">
        <p>Estudiantes: Desde la pantalla de Inicio, seleccione su nivel. En la pantalla de Inicio, haga click en el icono de Media Centre [Centro de Medios]. Seleccione el archivo de audio que desea reproducir.</p>
        <p>Profesores: Acceda a su Centro de Medios desde el enlace de Actividades en su Página de Inicio.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo me inscribo a una clase?</h3>
      <div class="faq-page__segment__answer">
        <p>Si no ha introducido un código de ID de clase durante el registro, encontrará un icono de "Join a Class" en su pantalla de Inicio. Haga click en el icono de "Join a Class", ingrese su código de ID de clase y haga click en el botón "Save" para volver a la pantalla de Inicio. Puede obtener su código de ID de clase a través de su profesor.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo cambiar de clase?</h3>
      <div class="faq-page__segment__answer">
        <p>En la pantalla de inicio, haga click en el icono "Change Class". Ingrese su nuevo código de ID de clase y haga click en el botón "Save" para volver a la pantalla de Inicio. Puede obtener su código de ID de clase a través de su profesor.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Debo inscribirme a clases?</h3>
      <div class="faq-page__segment__answer">
        <p>No. Puede utilizar la Práctica Online sin inscribirse a una clase.</p>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo puedo ver mi informe de progreso?</h3>
      <div class="faq-page__segment__answer">
        <p>Desde la pantalla de Inicio, haga click en el icono de "Scores" para abrir el área de Achievements [Logros] y Reports [Informes]. Seleccione la pestaña Reports situada en la parte superior.</p>
      </div>
 
      <h3 class="faq-page__segment__question">¿Por qué no puedo escuchar mi audio?</h3>
      <div class="faq-page__segment__answer">
        <p>Existen algunas razones por las que posiblemente no pueda escuchar el audio.</p>
        <ol>
          <li>Compruebe que los altavoces estén encendidos y conectados.</li>
          <li>Compruebe el nivel de volumen en su ordenador o dispositivo y que éste no esté silenciado.</li>
          <li>¿Es posible que haya desconectado los auriculares? Desconectar los auriculares después de cargar el sitio web o durante la reproducción de una pista de audio podría hacer que el reproductor de audio deje de funcionar. Para resolver el problema, cierre el navegador por completo y reinicie el programa.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">¿Cómo accedo a una unidad diferente?</h3>
      <div class="faq-page__segment__answer">
        <p>Dentro de una actividad, haga click en el menú de arriba a la izquierda para elegir una unidad y lección. Haga click en el siguiente menú para elegir una actividad dentro de la lección. También puede navegar a través de las actividades utilizando los botones "Previous" y "Next".</p>
      </div>

      <h3 class="faq-page__segment__question">¿A dónde puedo acudir si necesito más ayuda?</h3>
      <div class="faq-page__segment__answer">
        <p>Para obtener asistencia adicional, envíe un correo electrónico a <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. Por favor, incluya la siguiente información en su correo electrónico:</p>
        <ul>
          <li>Su tipo de ordenador (por ejemplo, PC o Mac)</li>
          <li>Su sistema operativo (por ejemplo, Windows 8)</li>
          <li>Su navegador (por ejemplo, Firefox 17.0.5)</li>
          <li>Una descripción del problema, incluyendo las acciones específicas que se realizaron antes de que ocurriera el problema.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page SPANISH_LA-->

<div 
class="faq-page"
ng-if="language.language == 'portuguese'"
>

  <h1 class="faq-page__heading">Perguntas mais frequentes (FAQ)</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">Como posso alterar minhas informações pessoais? (como, por exemplo, nome, senha, endereço de e-mail)</h3>
      <div class="faq-page__segment__answer">
        <p>Clique em "Edit Profile" no topo da tela para abrir a tela "Edit Profile". Na tela “Edit Profile” você pode alterar o seu nome, senha e endereço de e-mail.</p>
      </div>

      <h3 class="faq-page__segment__question">Como faço para adicionar um novo nível?</h3>
      <div class="faq-page__segment__answer">
        <p>Na tela inicial, clique em "Add a Level". Siga os passos para adicionar um novo nível. Você vai precisar de um código de acesso para cada novo nível que você deseja adicionar.</p>
      </div>

      <h3 class="faq-page__segment__question">Como faço para escutar o áudio que compõe o meu livro?</h3>
      <div class="faq-page__segment__answer">
        <p>Alunos: A partir da tela inicial, selecione o seu nível. Na tela inicial, clique no ícone do centro de mídia. Selecione o arquivo de áudio que você deseja escutar.</p>
        <p>Professores: Acesse o centro de mídia a partir do link “Activities” localizado em sua página inicial.</p>
      </div>

      <h3 class="faq-page__segment__question">Como faço para participar de uma turma?</h3>
      <div class="faq-page__segment__answer">
        <p>Se você não inseriu um código de identificação de turma durante o registro, um ícone "Join a Class" será exibido em sua tela inicial. Clique no ícone "Join a Class", insira seu código de identificação de turma e clique no botão "Save" para voltar à tela inicial. Você pode obter o seu código de identificação de turma com o seu professor.</p>
      </div>

      <h3 class="faq-page__segment__question">Como faço para alterar a turma?</h3>
      <div class="faq-page__segment__answer">
        <p>Na tela inicial, clique no ícone "Change Class". Insira seu novo código de identificação de aula e clique no botão “Save” para voltar a sua tela inicial. Você pode obter o seu código de identificação de aula com o seu professor.</p>
      </div>

      <h3 class="faq-page__segment__question">Eu tenho que participar de uma turma?</h3>
      <div class="faq-page__segment__answer">
        <p>Não. Você pode usar o Online Practice sem participar de uma turma.</p>
      </div>

      <h3 class="faq-page__segment__question">Como posso visualizar o meu relatório de progresso?</h3>
      <div class="faq-page__segment__answer">
        <p>Na tela inicial, clique no ícone "Scores" para abrir a seção “Achievements and Reports”. Selecione a aba “Reports” no topo.</p>
      </div>
 
      <h3 class="faq-page__segment__question">Por que não consigo escutar o áudio?</h3>
      <div class="faq-page__segment__answer">
        <p>Existem algumas razões pelas quais você pode não ser capaz de escutar o áudio.</p>
        <ol>
          <li>Verifique se os alto-falantes estão ligados e conectados.</li>
          <li>Nas configurações de volume no seu computador ou dispositivo, verifique se o volume está alto e não mudo.</li>
          <li>Você desconectou seus fones de ouvido? Desconectar os fones de ouvido depois de carregar o site ou durante a reprodução de uma faixa de áudio pode fazer com que o player de áudio pare de funcionar. Para resolver o problema, feche o navegador completamente e, em seguida, reinicie o programa.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">Como faço para ir a uma unidade diferente?</h3>
      <div class="faq-page__segment__answer">
        <p>Dentro de uma atividade, clique no menu superior esquerdo para escolher uma unidade e uma lição. Clique no menu ao lado para escolher uma atividade dentro de uma lição. Você também pode navegar entre as atividades utilizando os botões "Previous" e "Next".</p>
      </div>

      <h3 class="faq-page__segment__question">Onde posso ir caso eu precise de mais ajuda?</h3>
      <div class="faq-page__segment__answer">
        <p>Para receber um suporte adicional, envie um e-mail para <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. Inclua as seguintes informações no seu e-mail:</p>
        <ul>
          <li>O seu tipo de computador (por exemplo, PC ou Mac)</li>
          <li>Seu sistema operacional (por exemplo, Windows 8)</li>
          <li>Seu navegador (por exemplo, Firefox 17.0.5)</li>
          <li>Uma descrição do problema, incluindo quaisquer ações específicas que foram realizadas antes da ocorrência do problema.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page PORTUGUESE-->

<div 
class="faq-page"
ng-if="language.language == 'japanese'"
>

  <h1 class="faq-page__heading">よくある質問</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">登録情報（名前、パスワード、メールアドレスなど）を変更するには？</h3>
      <div class="faq-page__segment__answer">
        <p>画面上のEdit Profile[プロフィールの編集]をクリックして、画面を表示させます。この画面から、名前、パスワード、メールアドレスの変更ができます。</p>
      </div>

      <h3 class="faq-page__segment__question">レベルを追加するには？</h3>
      <div class="faq-page__segment__answer">
        <p>ホーム画面より、Add a level[レベルの追加]をクリックし、表示に従って新しいレベルを追加してください。新しいレベルを追加するたびに、アクセスコードが必要となります。</p>
      </div>

      <h3 class="faq-page__segment__question">テキストの音声を聞くには？</h3>
      <div class="faq-page__segment__answer">
        <p>生徒の場合：ホーム画面からレベルを選びます。ホーム画面のMedia Centre[メディアセンター]のアイコンをクリックして、聞きたい音声ファイルを選択します。</p>
        <p>先生の場合：ホームページのActivities[アクティビティ]のリンクから、Media Centre[メディアセンター]にアクセスしてください。</p>
      </div>

      <h3 class="faq-page__segment__question">クラスに参加登録するには？/h3>
      <div class="faq-page__segment__answer">
        <p>登録時にクラスIDコードを入力しなかった場合は、ホーム画面にJoin a Class[クラスへの参加登録]というアイコンが表示されます。このアイコンをクリックして、クラスIDコードを入力してください。Save[保存]ボタンをクリックすると、ホーム画面に戻ります。クラスIDコードは先生から渡されます。</p>
      </div>

      <h3 class="faq-page__segment__question">クラスを変更するには？</h3>
      <div class="faq-page__segment__answer">
        <p>ホーム画面のChange Class[クラスの変更]のアイコンをクリックします。新しいクラスIDコードを入力して、Save[保存]ボタンをクリックすると、ホーム画面に戻ります。クラスIDコードは先生から渡されます。</p>
      </div>

      <h3 class="faq-page__segment__question">クラスに参加しないとOnline Practiceを使うことはできませんか？</h3>
      <div class="faq-page__segment__answer">
        <p>いいえ。クラスに参加しなくてもOnline Practiceは使用できます。</p>
      </div>

      <h3 class="faq-page__segment__question">自分のプログレスレポートを見るには？</h3>
      <div class="faq-page__segment__answer">
        <p>ホーム画面からScores[得点]のアイコンをクリックして、Achievements and Reports[成績表とレポート]のエリアを開きます。画面上部のReports[レポート]タブを選択してください。</p>
      </div>
 
      <h3 class="faq-page__segment__question">音声が聞けないのですが？</h3>
      <div class="faq-page__segment__answer">
        <p>音声が聞けないときには、いくつかの理由が考えられます。</p>
        <ol>
          <li>スピーカーのスイッチが入っているか、接続されているかを確認してください。</li>
          <li>2）コンピュータまたはデバイスのボリューム設定が、ミュートになっていないか確認してください。</li>
          <li>ヘッドフォンを取り外しませんでしたか？ウェブサイトをロードした後、またはオーディオトラックを再生している途中でヘッドフォンを取り外すと、オーディオプレーヤーが作動しなくなることがあります。この問題を解決するには、一旦ブラウザを完全に終了し、もう一度プログラムをスタートしてください。</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">別のユニットに行くには？</h3>
      <div class="faq-page__segment__answer">
        <p>ひとつのアクティビティ内では、画面上部左側のメニューをクリックしてユニットとレッスンを選択してください。レッスン内でアクティビティを選ぶには次のメニューをクリックしてください。また、Previous[前に]やNext[次へ]ボタンを使えば、アクティビティ間を移動することができます。</p>
      </div>

      <h3 class="faq-page__segment__question">さらにヘルプが必要な場合は？</h3>
      <div class="faq-page__segment__answer">
        <p>さらにサポートが必要なときには、 <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>。まで、メールでお問い合わせください。メールには以下の内容をお書きください。</p>
        <ul>
          <li>コンピュータの種類（例：PC、Macなど）</li>
          <li>OS（例：Windows 8など）</li>
          <li>Yブラウザ（例：Firefox 17.0.5など）</li>
          <li>Aお困りの問題の内容。とくに、その問題が生じる前に行った操作について明記してください。/li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page JAPANESE-->


<div 
class="faq-page rtl"
ng-if="language.language == 'arabic'"
>

  <h1 class="faq-page__heading">الأسئلة الشائعة</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">كيف يمكنني تغيير معلوماتي الشخصية؟ (أعني الاسم، كلمة المرور، عنوان البريد الإلكتروني)</h3>
      <div class="faq-page__segment__answer">
        <p>انقر على“Edit Profile” ("تحرير الملف الشخصي") في أعلى الشاشة لفتح شاشة "تحريرالملف الشخصي". في شاشة تحرير الملف الشخصي يمكنك تغيير اسمك وكلمة المرور وعنوان البريد الإلكتروني.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أضيف مستوى جديدًا؟</h3>
      <div class="faq-page__segment__answer">
        <p>من شاشتك الرئيسية، انقر على"أضف مستوى". اتبع الخطوات لإضافة مستوى جديد. سوف تحتاج إلى رمز دخول لكل مستوى جديد ترغب في إضافته.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أستمع إلى الصوت الخاص بكتابي؟</h3>
      <div class="faq-page__segment__answer">
        <p>بالنسبة للطلاب: من شاشتك الرئيسية، حدد المستوى الخاص بك. على الشاشة الرئيسية، انقر أيقونة مركز الوسائط. حدد الملف الصوتي الذي ترغب في تشغيله.</p>
        <p>بالنسبة للمعلمين: أدخل على مركز الوسائط الخاص بك من رابط الأنشطة الموجود على صفحتك الرئيسية.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أنضم لفصل؟</h3>
      <div class="faq-page__segment__answer">
        <p>إذا لم تدخل رمز مُعرِّف الفصل أثناء التسجيل، سوف تكون هناك أيقونة “Join a Class” ("الانضمام لفصل") على شاشتك الرئيسية. انقر أيقونة "الانضمام لفصل" وأدخل رمز مُعرِّف الفصل الخاص بك وانقر على زِر“Save” ("حفظ") للعودة إلى شاشتك الرئيسية. يمكنك الحصول على رمز مُعرِّف الفصل الخاص بك من معلمك.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أغير الفصل؟</h3>
      <div class="faq-page__segment__answer">
        <p>على شاشتك الرئيسية، انقر على أيقونة“Change Class” ("تغيير الفصل"). أدخل رمز مُعرِّف الفصل الجديد وانقر على زِر“Save” ("حفظ") للعودة إلى شاشتك الرئيسية. يمكنك الحصول على رمز مُعرِّف الفصل الخاص بك من معلمك.</p>
      </div>

      <h3 class="faq-page__segment__question">هل يجب عليَّ أن أنضم لفصل؟</h3>
      <div class="faq-page__segment__answer">
        <p>لا. يمكنك استخدام الممارسة عبر شبكة الإنترنت دون الانضمام لفصل.</p>
      </div>

      <h3 class="faq-page__segment__question">كيف أعرض تقرير التقدم الخاص بي؟</h3>
      <div class="faq-page__segment__answer">
        <p>من شاشتك الرئيسية، انقر على أيقونة “Scores” ("الدرجات") لفتح منطقة التحصيل والتقرير. اختر علامة تبويب التقارير في الأعلى.</p>
      </div>
 
      <h3 class="faq-page__segment__question">لماذا لا يمكنني أن أسمع صوتي؟</h3>
      <div class="faq-page__segment__answer">
        <p>توجد هناك أسباب قليلة وراء عدم استطاعتك سماع صوتك.</p>
        <ol>
          <li>تحقق من أن السماعات الخاصة بك في وضع التشغيل وموصلة بقابس.</li>
          <li>في إعدادات الصوت على الحاسب أو الجهاز الخاص بك، تحقق من أن مستوى الصوت لديك عالٍ وليست في وضع صامت.</li>
          <li>هل قمت بنزع قابس سماعات الرأس؟ إن نزع قابس سماعات الرأس الخاصة بك بعد تحميل موقع الويب أو أثناء تشغيل مسار صوتي قد يسبب في توقف مشغل الصوت عن العمل. لحل المشكلة؛ أغلق المتصفح الخاص بك بشكل كامل وأعد تشغيل البرامج.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">كيف أنتقل إلى وحدة مختلفة؟</h3>
      <div class="faq-page__segment__answer">
        <p>خلال أي نشاط، انقر على القائمة الموجودة أعلى اليسار لاختيار الوحدة والدرس. استخدم القائمة التالية لاختيار نشاط من خلال درس ما. يمكنك أيضًا الانتقال عبر الأنشطة باستخدام الزرين“Next” ("التالي") و“Previous”  ("السابق").</p>
      </div>

      <h3 class="faq-page__segment__question">أين يمكنني أن أذهب إذا احتجت مزيدًا من المساعدة؟</h3>
      <div class="faq-page__segment__answer">
        <p>للحصول على مزيد من الدعم، أرسل رسالة بريد إلكتروني إلى <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. يُرجَى إدراج المعلومات التالية في رسالة البريد الإلكتروني الخاصة بك:</p>
        <ul>
          <li>نوع الحاسب الخاص بك (حاسب شخصي أو ماك، على سبيل المثال)</li>
          <li>نظام التشغيل الخاص بك (على سبيل المثال:8Windows)</li>
          <li>المتصفح الخاص بك ( 17.0.5Firefox، على سبيل المثال)</li>
          <li>وصف المشكلة، والذي يشمل أي إجراءات معينة تم اتخاذها قبل وقوع المشكلة.</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page ARABIC-->