<div 
class="faq-page"
ng-if="language.language == 'english'"
>

  <h1 class="faq-page__heading">Frequently Asked Questions</h1>
  
  <div class="faq-page__container">

    <div class="faq-page__segment faq-page__segment">

      <h3 class="faq-page__segment__question">How can I change my personal information? (i.e., name, password, email address)</h3>
      <div class="faq-page__segment__answer">
        <p>Click on “Edit Profile” at the top of the screen to open the “Edit Profile” screen. On the Edit Profile screen you can change your name, password, and email address.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I add a new level?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, click on “Add a Level.” Follow the steps to add a new level. You will need an access code for each new level you want to add.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I listen to the audio for my book?</h3>
      <div class="faq-page__segment__answer">
        <p>Students: From your Home screen, select your level. Click the “Media Center” icon. Select the audio file you want to play.</p>
        <p>Teachers: From your Home screen, click on “Activities and Resources.” Select a level. Click the “Media Center” icon. Select the audio file you want to play.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I join a class?</h3>
      <div class="faq-page__segment__answer">
        <p>If you did not enter a class ID code during registration, there will be a “Join a Class” icon on your Home screen. Click the “Join a Class” icon, enter your class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I change class?</h3>
      <div class="faq-page__segment__answer">
        <p>On your Home screen, select a level. Then click the “Change Class” icon. Enter your new class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="faq-page__segment__question">Do I have to join a class?</h3>
      <div class="faq-page__segment__answer">
        <p>No. You can use Online Practice without joining a class.</p>
      </div>

      <h3 class="faq-page__segment__question">How do I view my progress report?</h3>
      <div class="faq-page__segment__answer">
        <p>From your Home screen, select a level. Then click the “Scores” icon to open the Achievements and Reports area. Choose the “My Grades” tab at the top.</p>
      </div>
 
      <h3 class="faq-page__segment__question">Why can’t I hear my audio?</h3>
      <div class="faq-page__segment__answer">
        <p>There are a few reasons why you may not be able to hear your audio.</p>
        <ol>
          <li>Check that your speakers are turned on and plugged in.</li>
          <li>In the volume settings on your computer or device, check that your volume is up and not muted.</li>
          <li>Did you unplug your headphones? Unplugging your headphones after loading the website or while playing an audio track may cause the audio player to stop working. To solve the problem, close your browser completely and then restart the program.</li>
        </ol>
      </div>

      <h3 class="faq-page__segment__question">How do I go to a different unit?</h3>
      <div class="faq-page__segment__answer">
        <p>Within an activity, click on the top-left menu to choose a unit. Click on the next menu to choose an activity within a unit. You can also move through the activities using the “Previous” and “Next” buttons.</p>
      </div>

      <h3 class="faq-page__segment__question">Where can I go if I need more help?</h3>
      <div class="faq-page__segment__answer">
        <p>For additional support, email <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. Please include the following information in your email:</p>
        <ul>
          <li>Your type of computer (for example, PC or Mac)</li>
          <li>Your operating system (for example, Windows 8)</li>
          <li>Your browser (for example, Firefox 17.0.5)</li>
          <li>A description of the problem, including any specific actions that were taken before the problem occurred</li>
        </ul>
      </div>

    </div>

  </div><!--/faq-page__container-->

</div><!--/faq-page ENGLISH-->
