<div class="help-doc {{language.language}}">
  <h1
     class="help-doc__title"
     ng-class="{'rtl': language.language==='arabic'}"
  >
    {{helpdoc.title[language.language]}}
  </h1>

  <div ng-repeat="page in helpdoc.pages"
       class="help-doc__page"
       ng-controller="MyCtrl2">

    <h2
      class="help-doc__page__title"
      ng-class="{'rtl': language.language==='arabic'}"
    >
      {{page.pageTitle[language.language]}}
    </h2>

    <!-- start if screenshot -->
    <div ng-if="page.pageType == 'screenshot'"
         class="help-doc__page__scaffold help-doc__page__scaffold--screenshot">


      <div class="help-doc__page__scaffold--screenshot__image-frame">
        <div class="help-doc__page__scaffold--screenshot__img-container">
          <img ng-src="img/{{page.imgId}}"
               class="help-doc__page__scaffold--screenshot__img">
          <div ng-repeat="para in page.paragraphs"
               class="help-doc__page__scaffold--screenshot__number"
               ng-click="focus.focussed=para.number"
               ng-class="{'help-doc__page__scaffold--screenshot__number--focus': focus.focussed===para.number}"
               ng-style="itemStyle(para)">
            {{para.number}}
          </div>
        </div>
      </div>


      <div class="help-doc__page__scaffold--screenshot__text-frame">
        <div ng-repeat="para in page.paragraphs"
             class="help-doc__page__paragraph help-doc__page__paragraph--numbered"
             ng-click="focus.focussed=para.number"
             ng-class="{'help-doc__page__paragraph--numbered--focus': focus.focussed===para.number}">
          <div class="help-doc__page__paragraph--numbered__number">{{para.number}}</div>

          <p
            class="help-doc__page__text help-doc__page__paragraph--numbered__text"
            ng-class="{'rtl': language.language==='arabic'}"
          >
            {{para.text[language.language]}}
          </p>
          
        </div>
      </div>


    </div>
    <!-- end if screenshot -->

    <!-- start if 404 -->
    <div 
    ng-if="page.pageType == '404'"
    class="error-page"
    >
      <div class="error-page__segment">
      <!-- Use a CodeKit loop here once released -->

        <div ng-class="{'rtl': language.language==='arabic'}">
          <p>{{page.content.thing01.text[language.language]}}</p>
          <a class="link-to-home" ng-click="go('')">{{page.content.thing02.text[language.language]}}</a>
        </div>

      </div>
    </div>
    <!-- end if 404 -->


  </div> <!--end help-doc__page -->

</div> <!-- end help-doc -->