<div class="welcome-page">

  <h1 class="welcome-page__heading">Welcome to {{courseName}} Online Practice help</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Some blurb about why Online practice is ace?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptates dolore inventore ipsam sequi aut ratione sapiente quod laboriosam, molestias harum quam sunt veritatis asperiores architecto expedita quos. Magni, sunt!</p>
    </div>

    <div 
    class="welcome-page__segment welcome-page__segment--languages"
    ng-if="appLanguages.length > 1"
    >
      <h2 class="welcome-page__segment__heading welcome-page__segment--languages__heading">Languages</h2>
      <p>The top right shows the current language for these help files. Click it to choose from a list of alternative languages.
      </p>
      <p>Don't see the langauge you'd like the docs in? Contact us at <a class="link--email-support" href="mailto:#">supportemailaddresshere@oup.com</a> and we'll consider adding it in future.
      </p>
    </div>


    <div class="welcome-page__segment">
      
      <h2 class="welcome-page__segment__heading">Recommended Browsers and Supported Devices:</h2>
      <h3 class="welcome-page__segment--specs__heading">Windows:</h3>
      <p>Internet Explorer 9+, Firefox 28+, Chrome 31+</p>
      <p>Flash Player 11+ plug-in required for Recording Activities.</p>
 
      <h3 class="welcome-page__segment--specs__heading">Mac OSX:</h3>
      <p>Firefox 25+, Safari 7.0.2+, Chrome 33+</p>
      <p>Flash Player 11+ plug-in required for Recording Activities.</p>
       
      <h3 class="welcome-page__segment--specs__heading">Android:</h3>
      <p>OS must be 4.0 or higher and supported browser is Google® Chrome.</p>
      <p>Tested and supported on the following devices: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google Nexus 7, Google Nexus 10.</p>
       
      <h3 class="welcome-page__segment--specs__heading">iOS:</h3>
      <p>OS must be iOS6 or higher and supported browser is Safari.</p>
      <p>Tested and supported on the following devices: iPad® 2 or later, iPad Mini, iPad Air.</p>

    </div>

    <div class="welcome-page__segment welcome-page__segment--contact">
      <h2 class="welcome-page__segment__heading welcome-page__segment--contact__heading">Contact support</h2>
      <p>Some stuff about emailing or whatever and giving the support details.</p>
    </div>


  </div><!--/welcome-page__container-->
</div><!--/welcome-page-->