<div class="help-doc__page--welcome">
  <h1>Welcome to Online Practice help</h1>

  <div class="help-doc__page__scaffold">
    <h2>Some blurb about why Online practice is ace?</h2>
    <p>Text here.</p>
    <p
    ng-if="appLanguages.length > 1"
    >The top left shows the current language for these help files. Click it to choose from a list of alternative languages.
    </p>
    <p
    ng-if="appLanguages.length > 1"
    >Don't see the langauge you'd like the docs in? Contact us at supportemailaddresshere@oup.com and we'll consider adding it in future.
    </p>
  </div>

  <div class="help-doc__page__scaffold">
    <h2>Contact support</h2>
    <p>Some stuff about emailing or whatever and giving the support details.</p>
  </div>

  <div class="help-doc__page__scaffold">
    <h2>Browser and technical stuff</h2>
    <h3>Windows:</h3>
    <p>Browsers: Internet Explorer 9+, Firefox 28+, Chrome 31+</p>

    <h3>Mac OSX:</h3>
    <p>Browsers: Firefox 25+, Safari 7.0.2+, Chrome 33+</p>

    <h3>Android (4.0+) Tablets:</h3>
    <p>Devices: Samsung® Galaxy Tab v2 & v3, Google Nexus 7” & 10”, Samsung® Galaxy Note 10.1 7” & 10”</p>
    <p>Browser: Chrome</p>

    <h3>iOS (6+) Tablets:</h3>
    <p>Devices: iPad® 2 or later</p>
    <p>Browser: Safari</p>
  </div>

</div>