<div 
class="welcome-page"
ng-if="language.language == 'english'"
>

  <h1 class="welcome-page__heading">Welcome to {{courseName}} Online Practice Help</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Using Online Practice Help</h2>
      <p>Use the slide-out menu on the left to find help and guidance on using the different areas of your Online Practice course for students, teachers and administrators.</p>
      <p>Click any piece of text in each Help section to see the related number highlight on the screen shots.</p>
      <p ng-if="appLanguages.length > 1">Use the menu on the right to use the Online Practice Help area in a different language.</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Recommended Browsers and Supported Devices</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox 28+, Chrome 31+</p>
        <p>Flash Player 11+ plug-in is required for recording activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox 25+, Safari 7.0.2+, Chrome 33+</p>
        <p>Flash Player 11+ plug-in is required for recording activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>OS must be 4.0 or higher and supported browser is Google® Chrome</p>
        <p>Tested and supported on the following devices: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>OS must be iOS®6 or higher and the supported browser is Safari</p>
        <p>Tested and supported on the following devices: iPad® 2 or later, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">* Recording activities on Windows® and Mac® OSX require Flash Player 11+ plug-in. Go to the following site to download the latest version of Flash Player: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page ENGLISH-->

<div 
class="welcome-page"
ng-if="language.language == 'turkish'"
>

  <h1 class="welcome-page__heading">{{courseName}} Online Uygulama Yardım Sayfalarına Hoş Geldiniz</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Online Uygulama Yardım’ı Kullanma</h2>
      <p>Online Uygulama kursunun öğrenciler, öğretmenler ve yöneticilere yönelik farklı alanlarının kullanımıyla ilgili yardım ve rehberlik için soldaki sürgülü menüyü kullanın.</p>
      <p>Ekran görüntülerindeki ilgili sayıyı görüntülemek için Yardım bölümlerindeki herhangi bir metin parçasına tıklayın.</p>
      <p ng-if="appLanguages.length > 1">Online Uygulama alanını farklı bir dilde kullanmak için sağdaki menüyü kullanın.</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Önerilen Tarayıcılar ve Desteklenen Aygıtlar</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox 28+, Chrome 31+</p>
        <p>Aktivitelerin kaydedilmesi için Flash Player 11+ eklentisi gereklidir.</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox 25+, Safari 7.0.2+, Chrome 33+</p>
        <p>Aktivitelerin kaydedilmesi için Flash Player 11+ eklentisi gereklidir.</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>OS 4.0 veya üstü olmalıdır ve desteklenen tarayıcı Google® Chrome’dur.</p>
        <p>Aşağıdaki aygıtlarda test edilmiş ve desteklenmektedir: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>OS, iOS®6 veya üstü olmalıdır ve desteklenen tarayıcı Safari’dir.</p>
        <p>Aşağıdaki aygıtlarda test edilmiş ve desteklenmektedir: iPad® 2 veya üstü, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">* Windows® ve Mac® OSX ile yapılan kayıt aktiviteleri Flash Player 11+ eklentisi gerektirir. Flash Player’ın en güncel sürümünü indirmek için şu siteye gidin: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page TURKISH-->

<div 
class="welcome-page"
ng-if="language.language == 'arabic'"
>

  <h1 class="welcome-page__heading rtl">مرحبًا بكم في المساعدة الخاصة بالممارسة عبر الإنترنت {{courseName}}</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro rtl">
      <h2 class="welcome-page__segment__heading">استخدام المساعدة الخاصة بالممارسة عبر شبكة الإنترنت</h2>
      <p>استخدم قائمة الشرائح الخارجية على اليسار للعثور على المساعدة والإرشادات حول استخدام المناطق المختلفة لدورة الممارسة الخاصة بك عبر شبكة الإنترنت للطلاب والمعلمين والمديرين.</p>
      <p>انقر أي جزء من النص في كل قسم من المساعدة لرؤية العدد ذي الصلة الموضح بلقطات الشاشة.</p>
      <p ng-if="appLanguages.length > 1">استخدم القائمة الموجودة على اليمين لاستخدام منطقة المساعدة الخاصة بالممارسة عبر شبكة الإنترنت بلغة مختلفة.</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading rtl">المتصفحات المُوصَى بها والأجهزة المدعومة</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading tar">Windows®:</h3>
        <p class="tar">Internet Explorer 9+, Firefox 28+, Chrome 31+</p>
        <p class="rtl">يكون قابس 11+Flash Player مطلوبًا لتسجيل الأنشطة</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading tar">Mac® OS X:</h3>
        <p class="tar">Firefox 25+, Safari 7.0.2+, Chrome 33+</p>
        <p class="rtl">يكون قابس 11+Flash Player مطلوبًا لتسجيل الأنشطة</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading tar">Android®:</h3>
        <p class="rtl">يجب أن يكون OS 4.0 أو أعلى ويجب أن يكون المتصفح المدعوم Google® Chrome</p>
        <p class="rtl">تم اختباره ودعمه في الأجهزة التالية: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading tar">iOS®:</h3>
        <p class="rtl">يجب أن يكون OS iOS®6 أو أعلى ويجب أن يكون المتصفح المدعوم Safari</p>
        <p class="rtl">تم اختباره ودعمه في الأجهزة التالية iPad® 2 أو الأحدث, iPad® Mini, Pad® Air</p>
      </div>
      <p class="small-text rtl">* يتطلب تسجيل الأنشطة على Windows®  وMac® OSX استخدام قابس  11+Flash Player. انتقل إلى الموقع التالي لتنزيل أحدث إصدار من Flash Player: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page ARABIC-->

<div 
class="welcome-page"
ng-if="language.language == 'spanish'"
>

  <h1 class="welcome-page__heading">Bienvenido al Asistente de la Práctica Online de {{courseName}}</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Uso del Asistente de la Práctica Online</h2>
      <p>Utilice la barra de menú de la izquierda para encontrar ayuda y orientación acerca del uso de las diferentes áreas de su curso de Práctica Online para estudiantes, profesores y administradores.</p>
      <p>Haga clic en cualquier parte del texto en cada sección de Ayuda para ver el número resaltado en las capturas de pantalla.</p>
      <p ng-if="appLanguages.length > 1">Utilice el menú de la derecha para utilizar el área de Ayuda de la Práctica Online en un idioma diferente.</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Navegadores Recomendados y Dispositivos Compatibles</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox 28+, Chrome 31+</p>
        <p>Se requiere la instalación de Flash Player 11 + para las actividades con grabaciones</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox 25+, Safari 7.0.2+, Chrome 33+</p>
        <p>Se requiere la instalación de Flash Player 11 + para las actividades con grabaciones</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>El sistema operativo debe ser 4.0 o superior y el navegador compatible es Google® Chrome</p>
        <p>Probado y compatible con los siguientes dispositivos: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>El sistema operativo debe ser iOS®6 o superior y el navegador compatible es Safari</p>
        <p>Probado y compatible con los siguientes dispositivos: iPad® 2 o posterior, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">*Las actividades con grabaciones requieren Flash Player 11+ en Windows® y Mac® OSX. Visite el siguiente sitio para descargar la última versión de Flash Player: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page SPANISH (mexican spanish) -->


<div 
class="welcome-page"
ng-if="language.language == 'spanish_la'"
>

  <h1 class="welcome-page__heading">Bienvenido al Asistente de la Práctica Online de {{courseName}}</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Uso del Asistente de la Práctica Online</h2>
      <p>Utilice la barra de menú de la izquierda para encontrar ayuda y orientación acerca del uso de las diferentes áreas de su curso de Práctica Online para estudiantes, profesores y administradores.</p>
      <p>Haga click en cualquier parte del texto en cada sección de Ayuda para ver el número resaltado en las capturas de pantalla.</p>
      <p ng-if="appLanguages.length > 1">Utilice el menú de la derecha para utilizar el área de Ayuda de la Práctica Online en un idioma diferente.</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Navegadores Recomendados y Dispositivos Compatibles</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox 28+, Chrome 31+</p>
        <p>Se requiere la instalación de Flash Player 11 + para las actividades con grabaciones</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox 25+, Safari 7.0.2+, Chrome 33+</p>
        <p>Se requiere la instalación de Flash Player 11 + para las actividades con grabaciones</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>El sistema operativo debe ser 4.0 o superior y el navegador compatible es Google® Chrome</p>
        <p>Probado y compatible con los siguientes dispositivos: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>El sistema operativo debe ser iOS®6 o superior y el navegador compatible es Safari</p>
        <p>Probado y compatible con los siguientes dispositivos: iPad® 2 o posterior, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">*Las actividades con grabaciones requieren Flash Player 11+ en Windows® y Mac® OSX. Visite el siguiente sitio para descargar la última versión de Flash Player: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page SPANISH (latin american spanish) -->

<div 
class="welcome-page"
ng-if="language.language == 'portuguese'"
>

  <h1 class="welcome-page__heading">Bem-vindo à seção de ajuda do {{courseName}} no Online Practice.</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Utilização a seção de ajuda do Online Practice</h2>
      <p>Utilize o menu deslizante localizado ao lado esquerdo para encontrar ajuda e orientação sobre como utilizar as diferentes áreas do seu curso Online Practice para alunos, professores e administradores.</p>
      <p>Clique em qualquer parte do texto nas seções de ajuda para identificar a imagem ou ponto correspondente.</p>
      <p ng-if="appLanguages.length > 1">Utilize o menu à direita para mudar o idioma da seção de ajuda do Online Practice.</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Navegadores recomendados e dispositivos compatíveis</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox 28+, Chrome 31+</p>
        <p>O plug-in Flash Player 11 + é necessário para as atividades de gravação</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox 25+, Safari 7.0.2+, Chrome 33+</p>
        <p>O plug-in Flash Player 11 + é necessário para as atividades de gravação</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>O SO deve ser o 4.0 ou superior e o navegador compatível é Google® Chrome</p>
        <p>Testado e compatível com os seguintes dispositivos: Samsung® Galaxy Tab v2 e v3, Samsung® Galaxy Note 10.1 7” e 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>O SO deve ser o iOS®6 ou superior e o navegador compatível é o Safari</p>
        <p>Testado e compatível com os seguintes dispositivos: iPad® 2 ou posterior, iPad ® Mini, iPad ® Air</p>
      </div>
      <p class="small-text">* As atividades de gravação no Windows® e Mac® OSX necessitam do plug-in Flash Player 11+. Visite o website abaixo para fazer o download da versão mais recente do Flash Player:  <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page PORTUGUESE-->

<div 
class="welcome-page"
ng-if="language.language == 'japanese'"
>

  <h1 class="welcome-page__heading">{{courseName}} Online Practiceのヘルプへようこそ</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Online Practice のヘルプを使用する</h2>
      <p>先生、生徒、管理者のOnline Practiceのコースのさまざまなエリアを使用する際に必要なヘルプと手引きを探すには、左側のメニューを使用します。</p>
      <p>各ヘルプセクションのテキストの一部をクリックすると、関連する番号がスクリーンショット上でハイライトされます。</p>
      <p ng-if="appLanguages.length > 1">別の言語でOnline Practiceのヘルプエリアを使用する場合は、右側のメニューを使用します。</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">推奨環境および対応デバイス</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9以降、Firefox 28以降、Chrome 31以降</p>
        <p>音声を録音するアクティビティに使用するため、Flash Player 11 以降のプラグインが必要。</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox 25以降、Safari 7.0.2以降、 Chrome 33以降</p>
        <p>音声を録音するアクティビティに使用するため、Flash Player 11 以降のプラグインが必要。</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>4.0以上。対応ブラウザ：Google® Chrome</p>
        <p>動作検証済みの対応デバイス：Samsung® Galaxy Tab　2および3, Samsung® Galaxy Note 10.1（7インチおよび 10インチ）、 Google® Nexus 7、Google® Nexus 10/p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>iOS®6以上。対応ブラウザ：Safari</p>
        <p>動作検証済みの対応デバイス： iPad® 2以降、 iPad® Mini、iPad® Air</p>
      </div>
      <p class="small-text">＊録音するアクティビティをWindows®とMac® OSXのコンピュータで行う場合は、Flash Player 11以降のプラグインが必要となります。Flash Playerの最新版をダウンロードするには、 <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a> にアクセスしてください。</p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page JAPANESE-->

<div 
class="welcome-page"
ng-if="language.language == 'chinese'"
>

  <h1 class="welcome-page__heading">歡迎來到 {{courseName}} 線上練習說明</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">使用線上練習說明</h2>
      <p>請使用左邊的滑出式選單，尋找您需要的線上練習課程說明與指引，分為學生、教師及管理人三種區域。</p>
      <p>請在說明區當中點擊任一部份文字，觀看截圖裡面與此文字相關的重點提示。</p>
      <p ng-if="appLanguages.length > 1">請使用右邊選單來使用不同語言版本的線上練習說明。</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">建議使用的瀏覽器與支援的裝置型號</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows® 微軟系統：</h3>
        <p>Internet Explorer 9以上版本、Firefox 28以上版本、Chrome 31以上版本</p>
        <p>學習活動的錄音需要Flash Player 11以上版本的插件</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® 蘋果電腦：</h3>
        <p>Firefox 25以上版本、Safari 7.0.2以上版本、Chrome 33以上版本</p>
        <p>學習活動的錄音需要Flash Player 11以上版本的插件</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android® 安卓系統：</h3>
        <p>系統必須是4.0以上版本，支援瀏覽器為Google Chrome</p>
        <p>已測試過且可支援的行動裝置：三星平板Samsung® Galaxy Tab v2 & v3、三星手機Samsung® Galaxy Note 10.1 7” & 10”、Google® 手機Nexus 7、Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS® 蘋果行動裝置：</h3>
        <p>系統必須是iOS6 以上版本，支援瀏覽器為Safari</p>
        <p>已測試過且可支援的行動裝置：iPad® 2 或更新的版本、iPad® Mini、iPad® Air</p>
      </div>
      <p class="small-text">* 在Windows® 和Mac® 蘋果電腦上使用學習活動的錄音，需要Flash Player 11以上版本的插件，請前往以下網站下載最新版本的Flash Player： <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page CHINESE-->

<div 
class="welcome-page"
ng-if="language.language == 'thai'"
>

  <h1 class="welcome-page__heading">ยินดีต้อนรับสู่หน้าความช่วยเหลือแบบฝึกหัดออนไลน์ {{courseName}}</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">การใช้งานแบบฝึกหัดออนไลน์</h2>
      <p>คลิกเมนูด้านซ้าย เพื่อเลือกคำอธิบายหลักสูตรแบบฝึกหัดออนไลน์และคำแนะนำที่คุณต้องการหรือ คำแนะนำ สำหรับนักเรียน  ครูผู้สอน และ ผู้ดูแลระบบ</p>
      <p>คุณสามารถคลิกคำใดๆ ในพื้นที่ ช่วยเหลือ  โดยระบบจะเน้นข้อความส่วนที่เกี่ยวข้องไว้บนหน้าจอ</p>
      <p ng-if="appLanguages.length > 1">คลิกเมนูด้านขวา  เพื่อเลือกอ่านคำแนะนำ ในภาษาอื่น</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">เบราเซอร์ที่แนะนำ และอุปกรณ์ที่ควรใช้ร่วมกัน</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">ระบบปฏิบัติการ Windows®:</h3>
        <p>Internet Explorer 9 ขึ้นไป, Firefox 28 ขึ้นไป,Chrome 31 ขึ้นไป</p>
        <p>Flash Player 11 ขึ้นไป จำเป็นต้องมีการติดตั้งเพื่อใช้ในการบันทึกกิจกรรม</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">ระบบ ปฏิบัติการ Mac® OSX:</h3>
        <p>Firefox 25 ขึ้นไป, Safari 7.0.2 ขึ้นไป, Chrome 33 ขึ้นไป</p>
        <p>Flash Player 11 ขึ้นไป จำเป็นต้องมีการติดตั้งเพื่อใช้ในการบันทึกกิจกรรม</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">ระบบ ปฏิบัติการ Android®:</h3>
        <p>OS จะต้องเป็นรุ่น 4.0 หรือสูงกว่า และต้องสามารถใช้เบราเซอร์ Google Chrome ได้</p>
        <p>สามารถใช้งานร่วมกับอุปกรณ์ : Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">ระบบ ปฏิบัติการ iOS®:</h3>
        <p>OS จะต้องเป็น iOS® 6 หรือสูงกว่า และสามารถใช้เบราเซอร์ Safari ได้</p>
        <p>สามารถใช้งานร่วมกับอุปกรณ์ : iPad® 2 หรือใหม่กว่า, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">* *การบันทึกกิจกรรมบน ระบบ ปฏิบัติการ Windows® และระบบปฏิบัติการ Mac® OSX จำเป็นต้องติดตั้ง Flash Player 11 ขึ้นไป สามารถตรวจสอบและดาวน์โหลดรุ่นล่าสุดได้ที่เว็บ: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page THAI-->
