<div 
class="welcome-page"
ng-if="language.language == 'english'"
>

  <h1 class="welcome-page__heading">Welcome to {{courseName}} Online Practice Help</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Using Online Practice Help</h2>
      <p>Use the slide-out menu on the left to find help and guidance on using the different areas of your Online Practice course for students, teachers, and administrators.</p>
      <p>Click any piece of text in each Help section to see the related number highlight on the screen shots.</p>
      <p ng-if="appLanguages.length > 1">Use the menu on the right to use the Online Practice Help area in a different language.</p>
    </div>
    
    <div class="welcome-page__segment welcome-page__segment--support">
      <h2 class="welcome-page__segment__heading">ELT Support</h2>
     <p>For additional support, email <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. Please include the following information in your email:</p>
        <ul>
          <li>Your type of computer (for example, PC or Mac)</li>
          <li>Your operating system (for example, Windows 8)</li>
          <li>Your browser (for example, Firefox 17.0.5)</li>
          <li>A description of the problem, including any specific actions that were taken before the problem occurred.</li>
        </ul>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Recommended Browsers and Supported Devices</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox, Chrome</p>
        <p>Flash Player 11+ plug-in is required for recording activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox, Safari 7.0.2+, Chrome</p>
        <p>Flash Player 11+ plug-in is required for recording activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>OS must be 4.0 or higher and supported browser is Google® Chrome</p>
        <p>Tested and supported on the following devices: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>OS must be iOS®6 or higher and the supported browser is Safari</p>
        <p>Tested and supported on the following devices: iPad® 2 or later, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">* Recording activities on Windows® and Mac® OSX require Flash Player 11+ plug-in. Go to the following site to download the latest version of Flash Player: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page ENGLISH-->

<div 
class="welcome-page"
ng-if="language.language == 'turkish'"
>

  <h1 class="welcome-page__heading">{{courseName}} Çevrim İçi Uygulama Yardım’a Hoş Geldiniz</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Çevrim İçi Uygulama Yardım’ı Kullanma</h2>
      <p>Çevrim İçi Uygulama kursunun öğrenciler, öğretmenler ve yöneticilere yönelik farklı alanlarının kullanımıyla ilgili yardım ve rehberlik için soldaki kaydırma menüsünü kullanın.</p>
      <p>Ekran resimlerindeki ilgili sayı noktasını görüntülemek için Yardım bölümlerindeki herhangi bir metin parçasına tıklayın.</p>
      <p ng-if="appLanguages.length > 1">Çevrim İçi Uygulama alanını farklı bir alanda kullanmak için sağdaki menüyü kullanın.</p>
    </div>
    
    <div class="welcome-page__segment welcome-page__segment--support">
      <h2 class="welcome-page__segment__heading">ELT Support</h2>
     <p>Ek destek için, <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a> adresine e-posta gönderin. E-postanıza lütfen aşağıdaki bilgileri ekleyin:</p>
        <ul>
          <li>Bilgisayar türünüz (PC ya da Mac vb.)</li>
          <li>İşletim sisteminiz (Windows 8 vb.)</li>
          <li>Tarayıcınız (Firefox 17.0.5 vb.)</li>
          <li>Sorun meydana gelmeden önce yapılan spesifik eylem de dahil, sorunun tanımı.</li>
        </ul>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Önerilen Tarayıcılar ve Desteklenen Cihazlar</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox, Chrome</p>
        <p>Aktivitelerin kaydedilmesi için Flash Player 11+ eklentisi gereklidir.</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox, Safari 7.0.2+, Chrome</p>
        <p>Aktivitelerin kaydedilmesi için Flash Player 11+ eklentisi gereklidir.</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>OS 4.0 veya üstü olmalıdır ve desteklenen tarayıcı Google® Chrome’dur.</p>
        <p>Aşağıdaki cihazlar üzerinde test edilmiş ve desteklenmektedir: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>OS, iOS®6 veya üstü olmalıdır ve desteklenen tarayıcı Safari’dir.</p>
        <p>Aşağıdaki cihazlarda test edilmiş ve desteklenmektedir: iPad® 2 veya üstü, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">* Windows® ve Mac® OSX ile yapılan kayıt aktiviteleri Flash Player 11+ eklentisi gerektirir. Flash Player’ın en güncel sürümünü indirmek için şu siteye gidin: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page TURKISH-->

<div 
class="welcome-page"
ng-if="language.language == 'arabic'"
>

  <h1 class="welcome-page__heading rtl">مرحبًا بكم في المساعدة الخاصة بالممارسة عبر الإنترنت {{courseName}}</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro rtl">
      <h2 class="welcome-page__segment__heading">استخدام المساعدة الخاصة بالممارسة عبر شبكة الإنترنت</h2>
      <p>استخدم قائمة الشرائح الخارجية على اليسار للعثور على المساعدة والإرشادات حول استخدام المناطق المختلفة لدورة الممارسة الخاصة بك عبر شبكة الإنترنت للطلاب والمعلمين والمديرين.</p>
      <p>انقر أي جزء من النص في كل قسم من المساعدة لرؤية العدد ذي الصلة الموضح بلقطات الشاشة.</p>
      <p ng-if="appLanguages.length > 1">استخدم القائمة الموجودة على اليمين لاستخدام منطقة المساعدة الخاصة بالممارسة عبر شبكة الإنترنت بلغة مختلفة.</p>
    </div>
    
    <div class="welcome-page__segment welcome-page__segment--support rtl">
      <h2 class="welcome-page__segment__heading">ELT Support</h2>
          <p>للحصول على مزيد من الدعم، أرسل رسالة بريد إلكتروني إلى <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. يُرجَى إدراج المعلومات التالية في رسالة البريد الإلكتروني الخاصة بك:</p>
        <ul>
          <li>نوع الحاسب الخاص بك (حاسب شخصي أو ماك، على سبيل المثال)</li>
          <li>نظام التشغيل الخاص بك (على سبيل المثال:8Windows)</li>
          <li>المتصفح الخاص بك ( 17.0.5Firefox، على سبيل المثال)</li>
          <li>وصف المشكلة، والذي يشمل أي إجراءات معينة تم اتخاذها قبل وقوع المشكلة.</li>
        </ul>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading rtl">المتصفحات المُوصَى بها والأجهزة المدعومة</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading tar">Windows®:</h3>
        <p class="tar">Internet Explorer 9+, Firefox, Chrome</p>
        <p class="rtl">يكون قابس 11+Flash Player مطلوبًا لتسجيل الأنشطة</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading tar">Mac® OS X:</h3>
        <p class="tar">Firefox, Safari 7.0.2+, Chrome</p>
        <p class="rtl">يكون قابس 11+Flash Player مطلوبًا لتسجيل الأنشطة</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading tar">Android®:</h3>
        <p class="rtl">يجب أن يكون OS 4.0 أو أعلى ويجب أن يكون المتصفح المدعوم Google® Chrome</p>
        <p class="rtl">تم اختباره ودعمه في الأجهزة التالية: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading tar">iOS®:</h3>
        <p class="rtl">يجب أن يكون OS iOS®6 أو أعلى ويجب أن يكون المتصفح المدعوم Safari</p>
        <p class="rtl">تم اختباره ودعمه في الأجهزة التالية iPad® 2 أو الأحدث, iPad® Mini, Pad® Air</p>
      </div>
      <p class="small-text rtl">* يتطلب تسجيل الأنشطة على Windows®  وMac® OSX استخدام قابس  11+Flash Player. انتقل إلى الموقع التالي لتنزيل أحدث إصدار من Flash Player: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page ARABIC-->

<div 
class="welcome-page"
ng-if="language.language == 'spanish'"
>

  <h1 class="welcome-page__heading">Bienvenido al Asistente de la Práctica Online de {{courseName}}</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Uso del Asistente de la Práctica Online</h2>
      <p>Utilice la barra de menú de la izquierda para encontrar ayuda y orientación acerca del uso de las diferentes áreas de su curso de Práctica Online para estudiantes, profesores y administradores.</p>
      <p>Haga clic en cualquier parte del texto en cada sección de Ayuda para ver el número resaltado en las capturas de pantalla.</p>
      <p ng-if="appLanguages.length > 1">Utilice el menú de la derecha para utilizar el área de Ayuda de la Práctica Online en un idioma diferente.</p>
    </div>
    
     <div class="welcome-page__segment welcome-page__segment--support">
      <h2 class="welcome-page__segment__heading">ELT Support</h2>
        <p>Para obtener asistencia adicional, envíe un correo electrónico a <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. Por favor, incluya la siguiente información en su correo electrónico:</p>
        <ul>
          <li>Su tipo de ordenador (por ejemplo, PC o Mac)</li>
          <li>Su sistema operativo (por ejemplo, Windows 8)</li>
          <li>Su navegador (por ejemplo, Firefox 17.0.5)</li>
          <li>Una descripción del problema, incluyendo las acciones específicas que se realizaron antes de que ocurriera el problema.</li>
        </ul>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Navegadores Recomendados y Dispositivos Compatibles</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox, Chrome</p>
        <p>Se requiere la instalación de Flash Player 11 + para las actividades con grabaciones</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox, Safari 7.0.2+, Chrome</p>
        <p>Se requiere la instalación de Flash Player 11 + para las actividades con grabaciones</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>El sistema operativo debe ser 4.0 o superior y el navegador compatible es Google® Chrome</p>
        <p>Probado y compatible con los siguientes dispositivos: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>El sistema operativo debe ser iOS®6 o superior y el navegador compatible es Safari</p>
        <p>Probado y compatible con los siguientes dispositivos: iPad® 2 o posterior, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">* Las actividades con grabaciones requieren Flash Player 11+ en Windows® y Mac® OSX. Visite el siguiente sitio para descargar la última versión de Flash Player: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page SPANISH-->

<div 
class="welcome-page"
ng-if="language.language == 'japanese'"
>

  <h1 class="welcome-page__heading">[コースのタイトル]Online Practiceのヘルプへようこそ</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Online Practice のヘルプを使用する</h2>
      <p>生徒、先生、管理者のOnline Practiceのコースのさまざまなエリアを使用する際に必要なヘルプと手引きを探すには、左側のメニューを使用します。</p>
      <p>各ヘルプセクションのテキストの一部をクリックすると、関連する番号がスクリーンショット上でハイライトされます。</p>
      <p ng-if="appLanguages.length > 1">別の言語でOnline Practiceのヘルプエリアを使用する場合は、右側のメニューを使用します。</p>
    </div>
    
     <div class="welcome-page__segment welcome-page__segment--support">
      <h2 class="welcome-page__segment__heading">ELT Support</h2>
         <p>さらにサポートが必要なときには、<a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. まで、メールでお問い合わせください。メールには以下の内容をお書きください。</p>
        <ul>
          <li>コンピュータの種類（例：PC、Macなど）</li>
          <li>OS（例：Windows 8など）</li>
          <li>ブラウザ（例：Firefox 17.0.5など）</li>
          <li>お困りの問題の内容。とくに、その問題が生じる前に行った操作について明記してください。</li>
        </ul>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">推奨環境および対応デバイス</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9以降、Firefox, Chrome</p>
        <p>音声を録音するアクティビティに使用するため、Flash Player 11 以降のプラグインが必要。</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox, Safari 7.0.2以降、 Chrome 33</p>
        <p>音声を録音するアクティビティに使用するため、Flash Player 11 以降のプラグインが必要。</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>O4.0以上。対応ブラウザ：Google® Chrome</p>
        <p>動作検証済みの対応デバイス：Samsung® Galaxy Tab　2および3, Samsung® Galaxy Note 10.1（7インチおよび 10インチ）、 Google® Nexus 7、Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>iOS®6以上。対応ブラウザ：Safari</p>
        <p>動作検証済みの対応デバイス： iPad® 2以降、 iPad® Mini、iPad® Air</p>
      </div>
      <p class="small-text">* 録音するアクティビティをWindows®とMac® OSXのコンピュータで行う場合は、Flash Player 11以降のプラグインが必要となります。Flash Playerの最新版をダウンロードするには、<a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a>にアクセスしてください。</p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page JAPANESE-->

<div 
class="welcome-page"
ng-if="language.language == 'chinese'"
>

  <h1 class="welcome-page__heading">歡迎來到 [課程標題] 線上練習說明</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">使用線上練習說明</h2>
      <p>請使用左邊的滑出式選單，尋找您需要的線上練習課程說明與指引，分為學生、教師及管理人三種區域。</p>
      <p>請在說明區當中點擊任一部份文字，觀看截圖裡面與此文字相關的重點提示。</p>
      <p ng-if="appLanguages.length > 1">請使用右邊選單來使用不同語言版本的線上線息說明。</p>
    </div>
    
      <div class="welcome-page__segment welcome-page__segment--support">
      <h2 class="welcome-page__segment__heading">ELT Support</h2>
         <p>如需更多協助，請寄電子郵件到<a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. 請在您的信件中提供以下資訊：</p>
        <ul>
          <li>您使用的電腦種類（例如：PC或蘋果電腦）</li>
          <li>您的作業系統（例如：Windows8）</li>
          <li>您的瀏覽器（例如：Firefox 17.0.5）</li>
          <li>描述您的問題，包括問題發生之前，您做了哪些動作。</li>
        </ul>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">建議使用的瀏覽器與支援的裝置型號</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows微軟系統：</h3>
        <p>Internet Explorer 9以上版本、Firefox, Chrome </p>
        <p>學習活動的錄音需要Flash Player 11以上版本的插件</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac蘋果電腦：</h3>
        <p>Firefox,Safari 7.0.2以上版本、Chrome</p>
        <p>學習活動的錄音需要Flash Player 11以上版本的插件</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android安卓系統：</h3>
        <p>系統必須是4.0以上版本，支援瀏覽器為Google Chrome</p>
        <p>已測試過且可支援的行動裝置：三星平板Samsung Galaxy Tab v2 &#38; v3、三星手機Samsung Galaxy Note 10.1 7” &#38; 10”、Google手機Nexus 7、Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS 蘋果行動裝置：</h3>
        <p>系統必須是iOS6 以上版本，支援瀏覽器為Safari</p>
        <p>已測試過且可支援的行動裝置：iPad 2 或更新的版本、iPad Mini、iPad® Air</p>
      </div>
      <p class="small-text">* 學習活動的錄音需要Flash Player 11以上版本的插件，請前往以下網站下載最新版本的Flash Player：<a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page CHINESE-->

<div 
class="welcome-page"
ng-if="language.language == 'thai'"
>

  <h1 class="welcome-page__heading">ยินดีต้อนรับสู่หน้าความช่วยเหลือ[ชื่อหลักสูตร]</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">การใช้งานความช่วยเหลือในแบบฝึกหัดออนไลน์</h2>
      <p>ใช้เมนูด้านซ้าย เพื่อหาเมนู ช่วยเหลือ หรือ คำแนะนำ ที่แสดงในแต่ละหน้าของแบบฝึกหัดออนไลน์สำหรับนักเรียน  ครูผู้สอน และ ผู้ดูแลระบบ</p>
      <p>คุณสามารถคลิกคำใดๆ ในพื้นที่ ช่วยเหลือ  โดยระบบจะเน้นข้อความส่วนที่เกี่ยวข้องไว้บนหน้าจอ</p>
      <p ng-if="appLanguages.length > 1">ใช้เมนูด้านขวา  เพื่อเลือก ความช่วยเหลือการทำแบบฝึกหัดออนไลน์ในภาษาอื่น</p>
    </div>
    
    <div class="welcome-page__segment welcome-page__segment--support">
      <h2 class="welcome-page__segment__heading">ELT Support</h2>
      <p>สำหรับความช่วยเหลือเพิ่มเติม  สอบถามได้ที่อีเมล <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com</a>. โดยใส่ข้อมูลต่อไปนี้ให้ครบ:</p>
        <ul>
          <li>ชนิดของคอมพิวเตอร์ที่ใช้อยู่ (เช่น Mac หรือ PC)<C/li>
          <li>ระบบปฏิบัติการที่ใช้อยู่ (เช่น Windows 8)</li>
          <li>เว็บเบราเซอร์ที่ใช้ (เช่น Firefox 17.0.5)</li>
          <li>คำอธิบายปัญหาอย่างครบถ้วน รวมทั้งการกระทำที่ทำ ก่อนเกิดปัญหา</li>
        </ul>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">แนะนำเบราเซอร์ และอุปกรณ์เสริมที่ควรใช้ร่วมกัน</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">ระบบปฏิบัติการ Windows®:</h3>
        <p>Internet Explorer 9 ขึ้นไป, Firefox,Chrome</p>
        <p>Flash Player 11 ขึ้นไป จำเป็นต้องมีการติดตั้งเพื่อใช้ในการบันทึกกิจกรรม</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">ระบบ ปฏิบัติการ Mac® OSX:</h3>
        <p>Firefox, Safari 7.0.2 ขึ้นไป, Chrome</p>
        <p>Flash Player 11 ขึ้นไป จำเป็นต้องมีการติดตั้งเพื่อใช้ในการบันทึกกิจกรรม</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">ระบบ ปฏิบัติการ Android®:</h3>
        <p>OS จะต้องเป็นรุ่น 4.0 หรือสูงกว่า และต้องสามารถใช้เบราเซอร์ Google Chrome ได้</p>
        <p>สามารถใช้งานร่วมกับอุปกรณ์ : Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">ระบบ ปฏิบัติการ iOS®:</h3>
        <p>OS จะต้องเป็น iOS® 6 หรือสูงกว่า และสามารถใช้เบราเซอร์ Safari ได้</p>
        <p>สามารถใช้งานร่วมกับอุปกรณ์ : iPad® 2 หรือใหม่กว่า, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">* การบันทึกกิจกรรมบน ระบบ ปฏิบัติการ Windows® และระบบปฏิบัติการ Mac® OSX จำเป็นต้องติดตั้ง Flash Player 11 ขึ้นไป สามารถตรวจสอบและดาวน์โหลดรุ่นล่าสุดได้ที่เว็บ:<a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page THAI-->

<div 
class="welcome-page"
ng-if="language.language == 'korean'"
>

  <h1 class="welcome-page__heading">{{courseName}} 온라인 실습 도움말에 오신 것을 환영합니다.</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">온라인 실습 도움말 이용</h2>
      <p>왼쪽 슬라이드 메뉴를 이용하여 학생, 교사, 교육기관 관리자를 위한 온라인 실습 과정의 여러 부분을 이용하는 것에 대한 도움말과 안내를 받으십시오.</p>
      <p>각 도움말 항목의 텍스트를 클릭하시면 스크린 샷에서 관련 번호의 하이라이트를 볼 수 있습니다.</p>
      <p ng-if="appLanguages.length > 1">온라인 실습 도움말 영역의 우측 메뉴를 이용하여 여러 언어를 볼 수 있습니다.</p>
    </div>
    
    <div class="welcome-page__segment welcome-page__segment--support">
      <h2 class="welcome-page__segment__heading">ELT Support</h2>
       <p>추가 지원이 필요하시면 <a class="external-link" href="mailto:ELTsupport@oup.com?subject= {{courseName}} query">ELTsupport@oup.com으로 이메일을 보내주십시오.</a> 이메일에 다음 정보를 넣어주십시오:</p>
        <ul>
          <li>컴퓨터의 유형 (예:  PC 또는 Mac)</li>
          <li>운영체제(예: Windows 8)</li>
          <li>브라우저 (예: Firefox 17.0.5)</li>
          <li>문제가 발생하기 전에 했던 활동을 포함한 문제에 대한 설명</li>
        </ul>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">권장 브라우저 및 지원 장치</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox, Chrome</p>
        <p>활동을 기록하려면 Flash Player 11+ 플러그인이 필요합니다.</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox, Safari 7.0.2+, Chrome</p>
        <p>활동을 기록하려면 Flash Player 11+ 플러그인이 필요합니다.</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>OS는 4.0 이상이어야 하며 지원 브라우저는 Google® Chrome</p>
        <p>다음 장치에서 시험을 실시하였으며 지원이 가능합니다. 삼성® Galaxy Tab v2 & v3, 삼성® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>OS는 iOS®6 이후 버전이어야 하며 지원 브라우저는 Safari입니다.</p>
        <p>iPad® 2 이후, iPad® Mini, iPad® Air 장치에서 시험을 실시하였으며 지원이 가능합니다.</p>
      </div>
      <p class="small-text">* Windows® 및 Mac® OSX 활동 기록을 위해 Flash Player 11+ 플러그인이 필요합니다. <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a> 에서 최신 Flash Player를 다운로드하십시오.</p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page KOREAN-->