<div 
class="welcome-page"
ng-if="language.language == 'english'"
>

  <h1 class="welcome-page__heading">Welcome to {{courseName}} Online Practice help</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Using Online Practice Help</h2>
      <p>Use the slide-out menu on the left to find help and guidance on using the different areas of your Online Practice course for students, teachers and administrators.</p>
      <p>Click any piece of text in each Help section to see the related number highlight on the screen shots.</p>
      <p ng-if="appLanguages.length > 1">Use the menu on the right to use the Online Practice Help area in a different language.</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Recommended Browsers and Supported Devices</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox 28+, Chrome 31+</p>
        <p>Flash Player 11+ plug-in is required for recording Activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox 25+, Safari 7.0.2+, Chrome 33+</p>
        <p>Flash Player 11+ plug-in is required for recording Activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>OS must be 4.0 or higher and supported browser is Google® Chrome</p>
        <p>Tested and supported on the following devices: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>OS must be iOS®6 or higher and the supported browser is Safari</p>
        <p>Tested and supported on the following devices: iPad® 2 or later, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">* Recording activities on Windows® and Mac® OSX require Flash Player 11+ plug-in. Go to the following site to download the latest version of Flash Player: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page ENGLISH-->