<div 
class="welcome-page"
ng-if="language.language == 'english'"
>

  <h1 class="welcome-page__heading">Welcome to {{courseName}} Online Practice help</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Using Online Practice Help</h2>
      <p>Use the slide-out menu on the left to find help and guidance on using the different areas of your Online Practice course for students, teachers and administrators.</p>
      <p>Click any piece of text in each Help section to see the related number highlight on the screen shots.</p>
      <p ng-if="appLanguages.length > 1">Use the menu on the right to use the Online Practice Help area in a different language.</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Recommended Browsers and Supported Devices</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox 28+, Chrome 31+</p>
        <p>Flash Player 11+ plug-in is required for recording Activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox 25+, Safari 7.0.2+, Chrome 33+</p>
        <p>Flash Player 11+ plug-in is required for recording Activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>OS must be 4.0 or higher and supported browser is Google® Chrome</p>
        <p>Tested and supported on the following devices: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>OS must be iOS®6 or higher and the supported browser is Safari</p>
        <p>Tested and supported on the following devices: iPad® 2 or later, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">* Recording activities on Windows® and Mac® OSX require Flash Player 11+ plug-in. Go to the following site to download the latest version of Flash Player: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--faq">
      <h2 class="welcome-page__segment__heading">Frequently Asked Questions</h2>

      <h3 class="welcome-page__segment--faq__question">How can I change my personal information? (i.e., name, password, email address)</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>Click on “Edit Profile” at the top of the screen to open the “Edit Profile” screen. On the Edit Profile screen you can change your name, password and email address.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I add a new level?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>From your Home screen, click on “Add a Level”. Follow the steps to add a new level. You will need an access code for each new level you want to add.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I listen to the audio for my book?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>Students: From your Home screen, select your level. On the Home screen, click the Media Centre icon. Select the audio file you want to play.</p>
        <p>Teachers: Access your Media Centre from the Activities link on your Home page.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I join a class?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>If you did not enter a class ID code during registration, there will be a “Join a Class” icon on your Home screen. Click the “Join a Class” icon, enter your class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I change class?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>On your Home screen, click the “Change Class” icon. Enter your new class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">Do I have to join a class?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>No. You can use Online Practice without joining a class.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I view my progress report?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>From your Home screen, click the “Scores” icon to open the Achievements and Reports area. Choose the Reports tab at the top.</p>
      </div>
 
      <h3 class="welcome-page__segment--faq__question">Why can’t I hear my audio?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>There are a few reasons why you may not be able to hear your audio.</p>
        <ol>
          <li>Check that your speakers are turned on and plugged in.</li>
          <li>In the volume settings on your computer or device, check that your volume is up and not muted.</li>
          <li>Did you unplug your headphones? Unplugging your headphones after loading the website or while playing an audio track may cause the audio player to stop working. To solve the problem, close your browser completely and then restart the program.</li>
        </ol>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I go to a different unit?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>Within an activity, click on the top-left menu to choose a unit and lesson. Click on the next menu to choose an activity within a lesson. You can also move through the activities using the “Previous” and “Next” buttons.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">Where can I go if I need more help?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>For additional support, email ELTsupport@oup.com. Please include the following information in your email:</p>
        <ul>
          <li>Your type of computer (for example, PC or Mac)</li>
          <li>Your operating system (for example, Windows 8)</li>
          <li>Your browser (for example, Firefox 17.0.5)</li>
          <li>A description of the problem, including any specific actions that were taken before the problem occurred</li>
        </ul>
      </div>

    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page ENGLISH-->





<div 
class="welcome-page"
ng-if="language.language == 'turkish'"
>

  <h1 class="welcome-page__heading">Welcome to {{courseName}} Online Practice help Turkish</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Using Online Practice Help</h2>
      <p>Use the slide-out menu on the left to find help and guidance on using the different areas of your Online Practice course for students, teachers and administrators.</p>
      <p>Click any piece of text in each Help section to see the related number highlight on the screen shots.</p>
      <p ng-if="appLanguages.length > 1">Use the menu on the right to use the Online Practice Help area in a different language.</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Recommended Browsers and Supported Devices</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox 28+, Chrome 31+</p>
        <p>Flash Player 11+ plug-in is required for recording Activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox 25+, Safari 7.0.2+, Chrome 33+</p>
        <p>Flash Player 11+ plug-in is required for recording Activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>OS must be 4.0 or higher and supported browser is Google® Chrome</p>
        <p>Tested and supported on the following devices: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>OS must be iOS®6 or higher and the supported browser is Safari</p>
        <p>Tested and supported on the following devices: iPad® 2 or later, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">* Recording activities on Windows® and Mac® OSX require Flash Player 11+ plug-in. Go to the following site to download the latest version of Flash Player: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--faq">
      <h2 class="welcome-page__segment__heading">Frequently Asked Questions</h2>

      <h3 class="welcome-page__segment--faq__question">How can I change my personal information? (i.e., name, password, email address)</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>Click on “Edit Profile” at the top of the screen to open the “Edit Profile” screen. On the Edit Profile screen you can change your name, password and email address.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I add a new level?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>From your Home screen, click on “Add a Level”. Follow the steps to add a new level. You will need an access code for each new level you want to add.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I listen to the audio for my book?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>Students: From your Home screen, select your level. On the Home screen, click the Media Centre icon. Select the audio file you want to play.</p>
        <p>Teachers: Access your Media Centre from the Activities link on your Home page.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I join a class?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>If you did not enter a class ID code during registration, there will be a “Join a Class” icon on your Home screen. Click the “Join a Class” icon, enter your class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I change class?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>On your Home screen, click the “Change Class” icon. Enter your new class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">Do I have to join a class?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>No. You can use Online Practice without joining a class.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I view my progress report?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>From your Home screen, click the “Scores” icon to open the Achievements and Reports area. Choose the Reports tab at the top.</p>
      </div>
 
      <h3 class="welcome-page__segment--faq__question">Why can’t I hear my audio?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>There are a few reasons why you may not be able to hear your audio.</p>
        <ol>
          <li>Check that your speakers are turned on and plugged in.</li>
          <li>In the volume settings on your computer or device, check that your volume is up and not muted.</li>
          <li>Did you unplug your headphones? Unplugging your headphones after loading the website or while playing an audio track may cause the audio player to stop working. To solve the problem, close your browser completely and then restart the program.</li>
        </ol>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I go to a different unit?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>Within an activity, click on the top-left menu to choose a unit and lesson. Click on the next menu to choose an activity within a lesson. You can also move through the activities using the “Previous” and “Next” buttons.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">Where can I go if I need more help?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>For additional support, email ELTsupport@oup.com. Please include the following information in your email:</p>
        <ul>
          <li>Your type of computer (for example, PC or Mac)</li>
          <li>Your operating system (for example, Windows 8)</li>
          <li>Your browser (for example, Firefox 17.0.5)</li>
          <li>A description of the problem, including any specific actions that were taken before the problem occurred</li>
        </ul>
      </div>

    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page TURKISH-->



<div 
class="welcome-page"
ng-if="language.language == 'arabic'"
>

  <h1 class="welcome-page__heading">Welcome to {{courseName}} Online Practice help Arabic</h1>
  
  <div class="welcome-page__container">
  
    <div class="welcome-page__segment welcome-page__segment--intro">
      <h2 class="welcome-page__segment__heading">Using Online Practice Help</h2>
      <p>Use the slide-out menu on the left to find help and guidance on using the different areas of your Online Practice course for students, teachers and administrators.</p>
      <p>Click any piece of text in each Help section to see the related number highlight on the screen shots.</p>
      <p ng-if="appLanguages.length > 1">Use the menu on the right to use the Online Practice Help area in a different language.</p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--specs">
      <h2 class="welcome-page__segment__heading">Recommended Browsers and Supported Devices</h2>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Windows®:</h3>
        <p>Internet Explorer 9+, Firefox 28+, Chrome 31+</p>
        <p>Flash Player 11+ plug-in is required for recording Activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Mac® OS X:</h3>
        <p>Firefox 25+, Safari 7.0.2+, Chrome 33+</p>
        <p>Flash Player 11+ plug-in is required for recording Activities</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">Android®:</h3>
        <p>OS must be 4.0 or higher and supported browser is Google® Chrome</p>
        <p>Tested and supported on the following devices: Samsung® Galaxy Tab v2 & v3, Samsung® Galaxy Note 10.1 7” & 10”, Google® Nexus 7, Google® Nexus 10</p>
      </div>
      <div class="sub-segment">
        <h3 class="welcome-page__segment--specs__heading">iOS®:</h3>
        <p>OS must be iOS®6 or higher and the supported browser is Safari</p>
        <p>Tested and supported on the following devices: iPad® 2 or later, iPad® Mini, iPad® Air</p>
      </div>
      <p class="small-text">* Recording activities on Windows® and Mac® OSX require Flash Player 11+ plug-in. Go to the following site to download the latest version of Flash Player: <a class="external-link" href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></p>
    </div>

    <div class="welcome-page__segment welcome-page__segment--faq">
      <h2 class="welcome-page__segment__heading">Frequently Asked Questions</h2>

      <h3 class="welcome-page__segment--faq__question">How can I change my personal information? (i.e., name, password, email address)</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>Click on “Edit Profile” at the top of the screen to open the “Edit Profile” screen. On the Edit Profile screen you can change your name, password and email address.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I add a new level?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>From your Home screen, click on “Add a Level”. Follow the steps to add a new level. You will need an access code for each new level you want to add.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I listen to the audio for my book?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>Students: From your Home screen, select your level. On the Home screen, click the Media Centre icon. Select the audio file you want to play.</p>
        <p>Teachers: Access your Media Centre from the Activities link on your Home page.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I join a class?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>If you did not enter a class ID code during registration, there will be a “Join a Class” icon on your Home screen. Click the “Join a Class” icon, enter your class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I change class?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>On your Home screen, click the “Change Class” icon. Enter your new class ID code and click the “Save” button to return to your Home screen. You can get your class ID code from your teacher.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">Do I have to join a class?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>No. You can use Online Practice without joining a class.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I view my progress report?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>From your Home screen, click the “Scores” icon to open the Achievements and Reports area. Choose the Reports tab at the top.</p>
      </div>
 
      <h3 class="welcome-page__segment--faq__question">Why can’t I hear my audio?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>There are a few reasons why you may not be able to hear your audio.</p>
        <ol>
          <li>Check that your speakers are turned on and plugged in.</li>
          <li>In the volume settings on your computer or device, check that your volume is up and not muted.</li>
          <li>Did you unplug your headphones? Unplugging your headphones after loading the website or while playing an audio track may cause the audio player to stop working. To solve the problem, close your browser completely and then restart the program.</li>
        </ol>
      </div>

      <h3 class="welcome-page__segment--faq__question">How do I go to a different unit?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>Within an activity, click on the top-left menu to choose a unit and lesson. Click on the next menu to choose an activity within a lesson. You can also move through the activities using the “Previous” and “Next” buttons.</p>
      </div>

      <h3 class="welcome-page__segment--faq__question">Where can I go if I need more help?</h3>
      <div class="welcome-page__segment--faq__answer">
        <p>For additional support, email ELTsupport@oup.com. Please include the following information in your email:</p>
        <ul>
          <li>Your type of computer (for example, PC or Mac)</li>
          <li>Your operating system (for example, Windows 8)</li>
          <li>Your browser (for example, Firefox 17.0.5)</li>
          <li>A description of the problem, including any specific actions that were taken before the problem occurred</li>
        </ul>
      </div>

    </div>

  </div><!--/welcome-page__container-->

</div><!--/welcome-page ARABIC-->