<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Oxford Discover Online Practice: Help</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <script>
  //global variable used to set course specific calls in controllers.js
  //there are probably many better ways to do this.
  currentCourse = "od";
  currentCourseTitle = "Oxford Discover";
  courseLanguages = ['English','Turkish','Arabic'];
  </script>
</head>
<body 
ng-controller="MyCtrl1"
ng-init="getLang()"
class="ng-cloak"
>

  <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div 
  class="slide-out-drawer slide-out-drawer--left slide-out-drawer--nav"
  ng-show="openDrawer.open"
  ng-swipe-left="openDrawer.open=false"
  >
    <div class="help-menu">
      <accordion close-others="oneAtATime">
        <accordion-group 
        ng-repeat="user in helpmenu" 
        ng-init="status.open = false" 
        is-open="status.open"
        >
        
          <!-- Use a CodeKit loop here once released -->
          <accordion-heading ng-if="language.language == 'english'">
            {{user.userType.english}}
            <span 
            class="accordion-toggle__arrow" 
            ng-class="{'accordion-toggle__arrow--up': status.open, 'accordion-toggle__arrow--down': !status.open}"
            >
            </span>
          </accordion-heading>

          <accordion-heading ng-if="language.language == 'french'">
            {{user.userType.french}}
            <span 
            class="accordion-toggle__arrow"
            ng-class="{'accordion-toggle__arrow--up': status.open, 'accordion-toggle__arrow--down': !status.open}"
            >
            </span>
          </accordion-heading>

          <accordion-heading ng-if="language.language == 'turkish'">
            {{user.userType.turkish}}
            <span 
            class="accordion-toggle__arrow" 
            ng-class="{'accordion-toggle__arrow--up': status.open, 'accordion-toggle__arrow--down': !status.open}"
            >
            </span>
          </accordion-heading>

          <accordion-heading ng-if="language.language == 'arabic'">
            {{user.userType.arabic}}
            <span 
            class="accordion-toggle__arrow"
            ng-class="{'accordion-toggle__arrow--up': status.open, 'accordion-toggle__arrow--down': !status.open}"
            >
            </span>
          </accordion-heading>



          <ul class="help-menu__user__list">
            <li
            ng-repeat="listitem in user.docsList"
            class="help-menu__user__list-item"
            >

              <!-- Use a CodeKit loop here once released -->
              <a 
              ng-if="language.language == 'english'"
              ng-click="openDrawer.open=false;obj.value1='/doc/'+listitem.id;go('{{listitem.id}}')"
              ng-class="{'help-menu__option--active': obj.value1 === '/doc/'+listitem.id}"
              class="help-menu__option"
              >
                {{listitem.title.english}}
              </a>
              <a 
              ng-if="language.language == 'french'"
              ng-click="openDrawer.open=false;obj.value1='/doc/'+listitem.id;go('{{listitem.id}}')"
              ng-class="{'help-menu__option--active': obj.value1 === '/doc/'+listitem.id}"
              class="help-menu__option"
              >
                {{listitem.title.french}}
              </a>
              <a 
              ng-if="language.language == 'turkish'"
              ng-click="openDrawer.open=false;obj.value1='/doc/'+listitem.id;go('{{listitem.id}}')"
              ng-class="{'help-menu__option--active': obj.value1 === '/doc/'+listitem.id}"
              class="help-menu__option"
              >
                {{listitem.title.turkish}}
              </a>
              <a 
              ng-if="language.language == 'arabic'"
              ng-click="openDrawer.open=false;obj.value1='/doc/'+listitem.id;go('{{listitem.id}}')"
              ng-class="{'help-menu__option--active': obj.value1 === '/doc/'+listitem.id}"
              class="help-menu__option"
              >
                {{listitem.title.arabic}}
              </a>
            </li>
          </ul>
        </accordion-group>
      </accordion>
    </div>
  </div>


  <div class="content-container">
    <div class="site-header">
      <h1 
      class="site-header__heading" 
      ng-class="{'site-header__heading--tray-open': openDrawer.open === true}"
      ng-click="openDrawer.openLanguage=false;openDrawer.open = !openDrawer.open"
      >
          <span class="open-tray-icon"></span>
          <span class="site-header__heading__span">Oxford Discover: </span>Help
      </h1>

      <div class="language-choice-container">
        <div 
        class="language-choice-toggle"
        ng-if="appLanguages.length > 1"
        ng-click="openDrawer.openLanguage = !openDrawer.openLanguage"
        >
          {{language.language}}
        </div>

        <div 
        class="menu menu--language"
        ng-show="openDrawer.openLanguage"
        ng-if="appLanguages.length > 1"
        >
          <ul class="language-choice__list">
            <li 
            class="language-choice__list__item"
            ng-repeat="appLang in appLanguages"
            ng-click="language.language = appLang.toLowerCase();setLang(language.language); openDrawer.openLanguage=false;"
            ng-class="{'language-choice__list__item--active': language.language === appLang.toLowerCase()}"
            >
              {{appLang}}
            </li>
          </ul>
        </div>
      </div>


    </div>

    <div 
    class="content-area"
    ng-click="openDrawer.open=false; openDrawer.openLanguage=false"
    ng-class="{'content-area--inactive': openDrawer.open === true || openDrawer.openLanguage === true}"
    >
    <div ng-view class="content-area__view"></div>
  </div>

  </div> <!-- end content-container -->

  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
