<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="helpIndex" class="help-docs-index lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="helpIndex" class="help-docs-index lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="helpIndex" class="help-docs-index lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="helpIndex" class="help-docs-index"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Oxford University Press | Online Practice: Help</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Android 5.0 header/status bar color-->  
  <meta name="theme-color" content="#002147">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js"></script>
  <script src="js/indexApp.js"></script>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/homepage.css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="index-page" ng-controller="helpIndexCtrl1">

  <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

<div class="index-page__header">
  <h1 class="index-page__heading">Online Practice Help</h1>
  <label
  for="index-page__search__input"
  class="index-page__search__toggle"
  ng-class="{'index-page__search__toggle--active': search.open === true}"
  ng-click="search.open = !search.open"
  >
    <svg class="index-page__search__toggle__icon" width="40" height="40" viewBox="0 0 32 32">
      <path class="search-icon" d="M28.072 24.749l-6.046-6.046c0.912-1.499 1.437-3.256 1.437-5.139 0-5.466-4.738-10.203-10.205-10.203-5.466 0-9.898 4.432-9.898 9.898 0 5.467 4.736 10.205 10.203 10.205 1.818 0 3.52-0.493 4.984-1.349l6.078 6.080c0.597 0.595 1.56 0.595 2.154 0l1.509-1.507c0.594-0.595 0.378-1.344-0.216-1.938zM6.406 13.258c0-3.784 3.067-6.853 6.851-6.853 3.786 0 7.158 3.373 7.158 7.158s-3.067 6.853-6.853 6.853-7.157-3.373-7.157-7.158z" fill="#fff"></path>
    </svg>

  </label><!--/-->
</div>
<div class="index-page__container">
  <div
  class="index-page__search__container"
  ng-show="search.open===true"  
  >
    <input 
    ng-model="query.name" 
    class="index-page__search__input"
    id="index-page__search__input"
    placeholder="Search"
    >
  </div><!--/-->


  <div class="index-page__segment">
    <ul class="index-page__list">
      <li 
      ng-repeat="course in courses | filter:query"
      class="index-page__item"
      >
        <a class="index-page__link" ng-href="{{course.link}}">
          <div class="index-page__link__thumb">
            <img ng-src="icons/{{course.imgAsset}}"/>
          </div>
          <span class="index-page__link__span">{{course.name}}</span>
        </a>
      </li>
    </ul>
  </div>

</div><!--/index-page__container-->


</body>
</html>
