<!DOCTYPE html>
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>iQ Online Practice: Help</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Android 5.0 header/status bar color-->
  <meta name="theme-color" content="#002147">
  <link rel="stylesheet" href="css/app.css"/>

  <script src="js/libraries/fastclick.min.js"></script>

  <script src="js/libraries/angular.min.js"></script>
  <script src="js/libraries/angular-route.min.js"></script>
  <script src="js/libraries/angular-touch.min.js"></script>
  <script src="js/libraries/angular-animate.min.js"></script>
  <script src="js/libraries/angular-sanitize.min.js"></script>

  <script src="js/libraries/v-accordion.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <script>
  opHelpGlobals = {
    config:{
      homePage:"adult",
      bodyClass: "adult",
      currentCourse: "q2e",
      pagelist: "q2e",
      currentCourseTitle: "iQ",
      courseLanguages: ['English','Arabic'],
      supportAddressText: "ELTsupport@oup.com",
      supportAddressURL: "ELTsupport@oup.com"
    }
  }

  var runFastClick = function() {
    FastClick.attach(document.body);
  }
  runFastClick();
  </script>
</head>
<body
ng-controller="MyCtrl1"
ng-init="getLang();firstTimeCheck()"
class="ng-cloak course-home adult"
ng-click="firstTimeSet()"
>
  <!--[if lt IE 9]>
      <div class="oldie-message">
        <p class="oldie-message__p">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="update-browser-link">upgrade your browser</a> to access Online Practice.</p>
        <p class="oldie-message__p">Online Practice is supported on the following desktop browsers: Chrome 31+, Firefox 25+, Safari 7.0.2+, IE9+</p>
        <p class="oldie-message__p">Online Practice works on mobile too - iOS6+ (Safari) and Android 4.0+ (Chrome).</p>
      </div>
  <![endif]-->
  <div
  class="slide-out-drawer slide-out-drawer--left slide-out-drawer--nav"
  ng-show="openDrawer.open"
  ng-swipe-left="openDrawer.open=false"
  >
    <div class="help-menu">

    <a
    ng-click="openDrawer.open=false;obj.value1='/';go('')"
    ng-class="{'help-menu__option--active': obj.value1 === '/'}"
    class="help-menu__option"
    >
      <span ng-if="language.language == 'english'">Welcome</span>
      <span ng-if="language.language == 'turkish'">Hoşgeldiniz</span>
      <span ng-if="language.language == 'spanish'">Bienvenido</span>
      <span ng-if="language.language == 'spanish_la'">Bienvenido</span>
      <span ng-if="language.language == 'portuguese'">Bem-vindo</span>
      <span ng-if="language.language == 'japanese'">ようこそ</span>
      <span ng-if="language.language == 'chinese'">歡迎</span>
      <span ng-if="language.language == 'thai'">ยินดีต้อนรับ</span>
      <span ng-if="language.language == 'korean'">환영합니다</span>
      <span ng-if="language.language == 'indonesian'">Selamat Datang</span>
      <span ng-if="language.language == 'vietnamese'">Chào mừng</span>
      <span ng-if="language.language == 'arabic'" class="rtl">مرحبًا بكم</span>
    </a>


    <div class="new-accordion">
      <v-accordion id="accCB" class="vAccordion--default" control="accordionCB" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">

        <!-- if pagelist content exists, on each do: -->
        <div ng-repeat = "item in helpmenu.items">
          <!-- if its a link we do the simple link thing -->
          <a
            ng-if="item.link"
            ng-click="openDrawer.open=false; obj.value1='/'+item.link; go(item.link)"
            ng-class="{'help-menu__option--active': obj.value1 === '/'+item.link, 'rtl': language.language==='arabic'} "
            class="help-menu__option help-menu__option--level-1"
            >
              {{item.title[language.language]}}
          </a>

          <!-- else if it should be a panel (eg 'teacher') -->
          <v-pane ng-if="item.items" id="{{ ::item.id }}">
            <v-pane-header id="{{ ::item.id }}-header" class="help-menu__header help-menu__header--level-1" ng-class="{'rtl': language.language==='arabic'}">
              <h5>{{ item.title[language.language] }}</h5>
            </v-pane-header>

            <v-pane-content id="{{ ::item.id }}-content" aria-labelledby="{{ ::item.id }}-header">
              <!--in the level 1 panel (eg 'teacher') do the same:-->
              <!-- we needed to wrap with an accordion in case any use it - we could add checks here but it may cause bloat to the json or slow down rendering -->
              <v-accordion id="nestedAccordionCB">
                <div ng-repeat = "item in item.items">
                  <!-- if its a link we do the simple link thing -->
                  <a
                    ng-if="item.link"
                    ng-click="openDrawer.open=false; obj.value1='/'+item.link; go(item.link)"
                    ng-class="{'help-menu__option--active': obj.value1 === '/'+item.link, 'rtl': language.language==='arabic'} "
                    class="help-menu__option help-menu__option--level-2"
                    >
                      <h5>{{ item.title[language.language] }}</h5>
                  </a>
                  <!-- if its a panel -->
                  <v-pane ng-if="item.items" id="{{ ::item.id }}">
                    <v-pane-header id="{{ ::item.id }}-header" class="help-menu__header help-menu__header--level-2" ng-class="{'rtl': language.language==='arabic'}">
                      <h5>{{ item.title[language.language] }}</h5>
                    </v-pane-header>
                    <v-pane-content id="{{ ::item.id }}-content" aria-labelledby="{{ ::item.id }}-header">
                      <div ng-repeat = "item in item.items">
                        <a
                          ng-if="item.link"
                          ng-click="openDrawer.open=false; obj.value1='/'+item.link; go(item.link)"
                          ng-class="{'help-menu__option--active': obj.value1 === '/'+item.link, 'rtl': language.language==='arabic'} "
                          class="help-menu__option help-menu__option--level-3"
                          >
                            <h5>{{ item.title[language.language] }}</h5>
                        </a>
                      </div>

                    </v-pane-content>

                  </v-pane>
                </div>
              </v-accordion>

            </v-pane-content>

          </v-pane>
        </div>
      </v-accordion>
    </div><!-- end new accordion -->

    <a
    ng-click="openDrawer.open=false;obj.value1='/faq';go('/faq')"
    ng-class="{'help-menu__option--active': obj.value1 === '/faq'}"
    class="help-menu__option"
    >
      <span ng-if="language.language == 'english'">FAQ</span>
      <span ng-if="language.language == 'turkish'">SSS</span>
      <span ng-if="language.language == 'spanish'">Preguntas Frecuentes</span>
      <span ng-if="language.language == 'spanish_la'">Preguntas Frecuentes</span>
      <span ng-if="language.language == 'portuguese'">FAQ</span>
      <span ng-if="language.language == 'japanese'">よくある質問</span>
      <span ng-if="language.language == 'chinese'">常見問答</span>
      <span ng-if="language.language == 'thai'">ปัญหาที่พบบ่อย</span>
      <span ng-if="language.language == 'korean'">자주 묻는 질문</span>
      <span ng-if="language.language == 'indonesian'">Pertanyaan-Pertanyaan yang Sering Diajukan</span>
      <span ng-if="language.language == 'vietnamese'">Các Câu Hỏi Thường Gặp</span>
      <span ng-if="language.language == 'arabic'" class="rtl"> الأسئلة المتكررة</span>
    </a>
    </div>
  </div>

  <div class="content-container">
    <div class="site-header">



      <div
      class="menu-toggle menu-toggle--toc"
      ng-class="{'is-tray-open': openDrawer.open === true}"
      ng-click="openDrawer.open = !openDrawer.open"
      >
        <span class="menu-toggle--toc__text">Menu</span>
        <span class="menu-toggle--toc__icon"></span>
      </div><!--/menu-toggle-->

      <div
      class="menu-toggle menu-toggle--language {{language.language}}"
      ng-class="{'is-tray-open': openDrawer.openLanguage === true}"
      ng-if="appLanguages.length > 1"
      ng-click="openDrawer.openLanguage = !openDrawer.openLanguage"
      >
        <span class="language-chosen__container language-chosen__container--{{language.language}}">
          <span class="language-chosen--english">{{language.language}}</span>
        </span>
      </div>

      <div
      class="language-choice-container"
      ng-show="openDrawer.openLanguage"
      ng-if="appLanguages.length > 1"
      >


        <ul class="language-choice__list">
          <li
          class="language-choice__list__item"
          ng-repeat="appLang in appLanguages"
          ng-click="language.language = appLang.toLowerCase();setLang(language.language); openDrawer.openLanguage=false;"
          ng-class="{'language-choice__list__item--active': language.language === appLang.toLowerCase()}"
          >
            <span class="language-chosen__container language-chosen__container--{{appLang}}">
              <span class="language-chosen--english">{{appLang}}</span>
            </span>
          </li>
        </ul>
      </div>


    </div>

    <div
    class="first-time-message"
    ng-if="firstTime.first === 'true'"
    >
      Click here to choose a help topic
    </div><!--/first-time-message-->

    <div
    class="content-area"
    ng-click="openDrawer.open=false; openDrawer.openLanguage=false"
    ng-class="{'content-area--inactive': openDrawer.open === true || openDrawer.openLanguage === true || firstTime.first === 'true'}"
    >
    <div ng-view class="content-area__view"></div>
  </div>

  </div><!-- /content-container -->
  <script>
    var runFastClick = function() {
      FastClick.attach(document.body);
    }
    runFastClick();
  </script>
</body>
</html>