// colors
$color-main: #10a4da !global;
$color-accent-dark: #0B759B !global;
$color-grey-main: #999 !global;
$color-grey-dark: #333 !global;
$color-grey-light: #ccc !global;
$color-external-link: #007795;
$color-accent-contrast:rgb(255, 194, 0);
$color-accent-contrast-light: lighten($color-accent-contrast,20);

// repeated styles
$default-padding: 20px !global;
$mobile-padding: 10px !global;
$brad: 4px !global;
$brad-small: 2px !global;

//typography sizes
$menu-font-size: 18px !global;
$header-font-size: $base-font-size;
$heading-font-size: 24px !global;
$copy-font-size: 15px !global;

//specific context
$headerHeight:50px !global;
$slideOutWidth: 280px !global;