// colors
$color-main: #10a4da !global;
$color-accent-dark: #0B759B !global;
$color-grey-main: #999 !global;
$color-grey-dark: #333 !global;
$color-grey-light: #ccc !global;

// repeated styles
$default-padding: 20px !global;
$mobile-padding: 10px !global;
$brad: 4px !global;
$brad-small: 2px !global;

//typography sizes
$menu-font-size: 18px !global;
$heading-font-size: 24px !global;
$copy-font-size: 15px !global;

//specific context
$headerHeight:50px !global;
$slideOutWidth: 280px !global;