@import "base/_reset";
@import "base/_helpers";
@import "partials/_oup-ny-typography";
@import "partials/_icon-fonts";
@import "partials/_ui-variables";


@import "ui/_ui-page-scaffold";
@import "ui/_ui-title-bar";
@import "ui/_ui-drawers";
@import "ui/_ui-nav";
@import "ui/_ui-language";
@import "ui/_ui-first-time";
@import "ui/_ui-ie-message";

@import "custom-pages/_helpdoc";
@import "custom-pages/_index-page";
@import "custom-pages/_welcome";
@import "custom-pages/_404";

@import "shame/_shame-print";

.rtl{
  direction:rtl;
  text-align: right;
  // color: red;
}
.help-menu .help-menu__option--home>.rtl{
  display: block;
}