@media print {
  //hide the header to save space
  .site-header{
    display: none;
  }
  .content-container{
    padding-top: 0;
  }
  //allow entire document to print - not just the visible section
  .content-area__view{
    overflow: visible;
  }

  .help-doc__page{page-break-inside: avoid;}
  
  // reduce text size
  .help-doc__page__text,
  .help-doc__page__title,
  .help-doc__title{
    font-size: 0.75em;
  }
  //keep screenshot from being too large
  .help-doc__page__scaffold--screenshot__image-frame{
    float: right;
    width:50%;
  }
  //simplify section styling
  .help-doc__page__scaffold{
    box-shadow: none;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #333;
    border-radius: 0;
  }
  //attempt to get white background on numbers for easier reading on images
  .help-doc__page__scaffold--screenshot__number{
    box-shadow: inset 0 0 0 20px #fff;
    //check if working once screenshots in place - text shadow or something else may work instead
  }
}