@media print {
  //hide the header to save space
  .site-header{
    display: none;
  }
  .content-container{
    padding-top: 0;
  }
  //allow entire document to print - not just the visible section
  .content-area__view{
    overflow: visible;
  }
  //keep screenshot from being too large
  .help-doc__page__scaffold--screenshot__image-frame{
    float: right;
    width:200px;
  }
  //simplify section styling
  .help-doc__page__scaffold{
    box-shadow: none;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #333;
    border-radius: 0;
  }
  //attempt to get white background on numbers for easier reading on images
  .help-doc__page__scaffold--screenshot__number{
    box-shadow: inset 0 0 0 20px #fff;
    //check if working once screenshots in place - text shadow or something else may work instead
  }
}