.language-choice-container{
  position: relative;
  float: right;
  height: $headerHeight;
  margin: 6px 6px 0 0;
  @include breakpoint(small){
    min-width: 100px;
  }

}
.language-choice-toggle{
  font-size: $copy-font-size;
  text-transform: capitalize;
  text-align: center;
  height: $headerHeight - 12px;
  line-height: $headerHeight - 12px;
  padding: 0 2em;
  @include breakpoint(small){
    padding: 0 1em;
  }
  border-radius: $brad;
  cursor: pointer;
  transition: background 0.2s;
  @extend %user-select-none;
  @extend %no-tap-color;
  background:rgba(#333,0.75);
  @at-root .no-touch &:hover{
    background:rgba(#333,0.95);
  }    
}

.menu{
  background:#fff;
  position: absolute;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: $brad;
  z-index: z("menu");
  transition: all 0.35s;
  transform-origin: top center;
  &--language{
    top: 0px;
    right: 0;
    width: 100%;
  }
    &.ng-hide {
      transform: translate(0, -200%);
    }
}

.language-choice__list{
  font-size: $copy-font-size;
  color:$text-color;
  &__item{
    display: block;
    padding: 0.5em 0;
    text-align: center;
    cursor: pointer;
    @extend %user-select-none;
    @extend %no-tap-color;
    @at-root .no-touch &:hover{
      background:rgba(#ddd,0.35);
    }
    &--active{
      color: $color-accent-contrast;
    }
  }  
}
