$c-hover-1: rgba(243, 243, 243, 1);


/* v-accordion Base styles
 ***************************************/
v-accordion {
  display: block; }

v-pane {
  display: block; }
  v-pane.is-expanded > v-pane-content > div {
    display: visible; }
  v-pane[disabled] > v-pane-header {
    opacity: 0.6;
    pointer-events: none; }


v-pane-content {
  display: block;
  position: relative;
  overflow: hidden;
  max-height: 0px; }
  v-pane-content > div {
    visibility: none; }

/* my styles
 ***************************************/

.help-menu{
  font-size: $menu-font-size;

  &__option{
    display: block;
    padding: 0.5em ($default-padding / 2);
    cursor: pointer;
    border-bottom: 1px solid darken(#EBEBEB,10);
    background-color: #FFF;
    @extend %user-select-none;
    &:hover{
      background-color: $color-accent-contrast-light;
    }
    &--active{
      color: $color-accent-contrast;
    }
  }
  &__header{
    $arrowSizing: ($headerHeight / 6);
    display: block;
    position: relative;
    padding: $default-padding/2 (($default-padding / 2) + ($arrowSizing * 3) ) $default-padding/2 ($default-padding / 2);
    &.rtl{
      padding: $default-padding/2 ($default-padding / 2) $default-padding/2 (($default-padding / 2) + ($arrowSizing * 3) );
    }
    border-bottom: 1px solid darken(#EBEBEB,10);
    @extend %user-select-none;
    @extend %no-tap-color;
    cursor: pointer;
    font-weight: 600;
    background-color: #FFF;
    &:hover{
      background-color: $color-accent-contrast-light;
    }
    &:before{
      position: absolute;
      display: block;
      content: "";
      width: ($arrowSizing * 3);
      height: ($arrowSizing * 3);
      background-color: rgba(#000,0.6);
      background-image: url('../ui-img/arrow-down.svg');
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      top:($arrowSizing * 1);
      right: $arrowSizing;
      transition: transform 0.3s;
    }
    &.rtl:before{
      left: $arrowSizing;
      right: auto;
    }
    &--level-1{
    }

    &--level-2{
      // padding-left: $default-padding*1.5;
    }
    v-pane.is-expanded>&{
      background-color: $color-accent-contrast;
      color: #fff;
    }

    v-pane.is-expanded>&:before{
      transform: rotate(-180deg);
      color: #fff;
    }
  }
}
v-pane{
  transition: margin 0.2s;
}
v-pane.is-expanded{
  margin: 16px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
  background-color: #FFF;
  border-radius: 2px;
  overflow: hidden;
}