.site-header{
  font-size:$header-font-size;
  @include breakpoint(small){
    font-size: $copy-font-size;
  }
  position: absolute;
  width: 100%;
  left: 0;
  top: 0px;
  height: $headerHeight;
  background: $color-accent-contrast;
  color: #fff;

  .menu-toggle{
    $lineWidth: 2px;
    $lineLength: 18px;
    position: relative;
    height: $headerHeight;
    line-height: $headerHeight - 1px;
    font-size: $copy-font-size;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s;
    @extend %user-select-none;
    @extend %no-tap-color;
    background: $color-grey-dark;

    //when the button's tray is open:
    &.is-tray-open{
      background: #000;
    }

    //just the TOC menu button:
    &--toc{
      float: left;
      padding: 0 $lineLength 0 (($lineLength * 2) +10px);
      //cicle around 'close icon' ('x') is a pseudo-element.
      //hidden when toc is closed via transform and opacity:
      &:before{
        content: "";
        position: absolute;
        display: block;
        background: $color-accent-contrast;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        top: ($headerHeight - 24px) / 2;
        left: $lineLength - 3px;
        transform: scale(0);
        opacity:0;
        transition: all 0.4s;
      }
      //show the circle when the TOC is open
      &.is-tray-open:before{
        transform: scale(1);
        opacity:1;
      }

      //the hamburger menu is created from a span and pseudo elements:
      &__icon{
        display: block;
        background:#fff;
        position: absolute;
        width: $lineLength;
        height: $lineWidth;
        top: ($headerHeight / 2) - ($lineWidth / 2);
        left: $lineLength;
        transition: width 0.4s;
        outline: 1px solid transparent;
        transition: background 0.4s;
        &:before, &:after{
          content: "";
          display: block;
          position: absolute;
          width: $lineLength;
          height: $lineWidth;
          top:0;
          background: #fff;
          transition: all 0.4s;
          outline: 1px solid transparent;
        }
        &:before{
          transform: translate(0,-8px);
        }
        &:after{
          transform: translate(0,8px);
        }
      }
      //when the TOC menu is open we hide th middle line of the hamburger:
      &.is-tray-open .menu-toggle--toc__icon{
        background: none;
        // and rotate the other two ines to form the 'x' icon.
        &:before{
          transform: rotate(45deg);
        }
        &:after{
          transform: rotate(-45deg);
        }
      }
    }
    //end TOC specific stuff
    &--language{
      float: right;
      padding: 0 $lineLength 0 (($lineLength * 2) +20px);
      &:before{
        position: absolute;
        display: block;
        content: "";
        width: 30px;
        height: 30px;
        top: ($headerHeight - 30px) / 2;
        left: $lineLength - 4px;
        background: url('../ui-img/language-icon.svg') no-repeat center;
        background-size: 30px;
      }
    }

  }
}